@charset "utf-8";
/* CSS Document */

/* === Css Button === 
================================================== */
.btn-size-small, .btn-size-medium, .btn-size-large, .btn-size-huge, [class*="tablectrl"] {  font-size: 12px; color: #fff; display: inline-block; line-height: 14px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.btn-size-small span, .btn-size-medium span, .btn-size-large span, .btn-size-huge span { text-shadow: 0 1px 0 #6f6f6f; margin-left: 10px; }
.btn-size-small { width: 50px;padding-top: 5px;padding-bottom: 5px;margin-left: 10px; }
.btn-size-medium { padding: 7px 15px; }
.btn-size-large { padding: 8px 50px; }
.btn-size-huge { float: right; padding: 4px 12px 4px 12px; color: #fff!important; margin: 7px 10px 6px 10px; }
.bGreen:hover, .btn-color-red:hover, .btn-color-blue:hover, .bGreyish:hover, .bBlack:hover, .bLightBlue:hover, .btn-color-gold:hover, .bSea:hover, .bBrown:hover { opacity: 0.95; filter: alpha(opacity=95); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }

.btn-color-default, .dualBtn, .searchLine button { 
    border: 1px solid #c3c3c3;
    color: #686868;
    text-shadow: none;
    background: #f8f8f8;
}

.btn-color-default:hover, .dualBtn:hover, .searchLine button:hover { 
    -webkit-transition: box-shadow 0.05s ease-in-out;
    -moz-transition: box-shadow 0.05s ease-in-out;
    transition: box-shadow 0.05s ease-in-out;
    background: #fafafa;
    cursor: pointer;
}
.btn-color-default:active, .dualBtn:active, .titleToolbar > li > a:active, .titleOpt > a:active, .searchLine button:active { background: #eee; color: #505050; border-color: #c0c0c0; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1; }
.btn-color-default span { text-shadow: none; }
.btn-color-default[disabled] {
	cursor: auto;
	pointer-events: none;
	background-color: #CCCBCB;
	color: #787878;
}

.btn-color-red {  border: 1px solid #a95151; box-shadow: 0 1px 2px 0 #cd8787 inset; -webkit-box-shadow: 0 1px 2px 0 #cd8787 inset; -moz-box-shadow: 0 1px 2px 0 #cd8787 inset;
background: #c57979;
background: -moz-linear-gradient(top,  #c57979 0%, #a34c4c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c57979), color-stop(100%,#a34c4c));
background: -webkit-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
background: -o-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
background: -ms-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
background: linear-gradient(top,  #c57979 0%,#a34c4c 100%);
}
.btn-color-red:hover { opacity: 0.95; filter: alpha(opacity=95); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out;cursor: pointer;}
.btn-color-red:active { background: #b15e5e; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.btn-color-blue {  border: 1px solid #8EBC00;background: #8EBC00;}
.btn-color-blue:hover { opacity: 0.95; filter: alpha(opacity=95); transition: opacity 0.2s ease-in-out;cursor: pointer; }
.btn-color-blue:active { background: #4786b8;}

.btn-color-gold {
border: 1px solid #A29898;
background: #FF8000;
}

.btn-color-gold[disabled] {
    cursor: auto;
    pointer-events: none;
    background-color: #CCCBCB;
}

/* === Input File ===
================================================== */
.txa-size-medium {
    height: 103px;
    width: 346px;
    font-family: arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.4;
/*     resize: none; */
}

textarea.error{
	background-color: #FFD9E6;
	color: #555;
	border: 1px solid red;
}

span.error{
	font-weight: bold;
}

textarea.error:focus{
	border-color: #FF0000;
    border-style: solid;
    border-width: 1px;
}

input.error{
	background-color: #FFD9E6 !important;
}

input.error:focus{
	border-color: #FF0000;
    border-style: solid;
    
    /* 2014-02-10 Commented it because it makes datetime picker layout moving unexpectedly. */
    /*border-width: 1px;*/
}

.errorInput {
    border-color: #FF0000;
    border-style: solid;
    border-width: 1px;
}

.error{
	color:red !important; 
	display: inline-block; 	
}

.requiredFill {
    margin-left: 3px;
    color: #ff0000;
}

/* === Background ===
================================================== */
.blueBG {
    background-color: #0080FF;
    color: #FFFFFF;
    font-weight: bold;
}

.orangeBG {
    background-color: #FF8000;
    color: #FFFFFF;
    font-weight: bold;
}

.grayBG {
    background-color: #CCCBCB;
}

/** Show message */
.has-message {
    padding: 5px;
    margin-bottom: 5px;
    width: 915px;
/*     border: 2px solid #005F00; */
    font-family: bold;
    padding-left: 25px;
}

.success {
    background: 2px 3px url("../images/yes.png") no-repeat #DFFFDF;
    color: #507f50;
    border:2px solid #73C273;
    background-color: #f0fff0;
}

.msg-error {
    background: 2px 3px url("../images/no.png") no-repeat #DFFFDF;
    color: #7f5050;
    border:2px solid #DD7373;
    background-color: #fff0f0;
}

/** ------------------------------------------------------------------------**/
#table-content .align-right {
    text-align: right;
}

#table-content .align-left {
    text-align: left;
}

#table-content .align-center {
    text-align: center;
}

.dataTables_empty {
    color: #C71444;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    padding-top: 10px;
}

#btnAddNew {
    width: 150px;
    float: right;
    text-align: center;
    text-decoration: none;
}

#lstButton {
	width: 938px;
	padding-left: 5px;
	text-align: right;
    padding-right: 5px;
}

.lstButton:hover,
#btnAddNewBrand:hover {
    background-color: #E9E9E9;
}

#table-content {
    padding-top: 5px;
}

#contentsInner .lstButton {
    width: 100px;
    height: 25px;
    margin-top: 3px;
}

#title {
    border-bottom: 2px solid #8EBC00;
    margin-top: 3px;
}

#subTitle {
    margin-top: 3px;
}

#contentsInner {
    min-height: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#table-content th {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    display: table-cell;
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    height: 18px;
    line-height: 14px;
    text-align: center;
}

#table-content tbody tr {
    height: 30px;
}

#table-content tbody tr td {
    border-bottom: 1px solid #D8D8D8;
}

#table-content tbody tr:hover {
    background-color: #8EBC00;
}

td .tbSearch {
    width: 100%;
}

td .haft-size {
	/* BOE: TRIET_NGUYEN */
    /* width: 41%; */
    width: 74%;
    /* EOE: TRIET_NGUYEN */
}

td .

#table-content {
    font-family: Arial;
    font-size: 9pt;
}

#table-content .align-right {
    text-align: right;
}

#table-content .align-left {
    text-align: left;
}

#table-content .align-center {
    text-align: center;
}

.dataTables_empty {
    color: #C71444;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    padding-top: 10px;
}

.headerContent { background-color: #EFEFEF; padding: 5px 5px 9px 5px; border:1px solid #C9C9C9;}
.headerContent .label {padding-left: 20px;}

.tbl-content {
    padding-left: 5px;
    border-left: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    clear: both;
    width: 943px;
}

.processLoading{
    /* position: absolute; */
    position: fixed;
    width: 100%;
    height: 100%;
/*  for highest index and always show on top of divs */  
    background-color:rgba(130,148,156,0.5);
    z-index: 1000000;
}

.processLoading img{
    position: absolute;
    top: 50%;
    left: 48%;
    width: auto;
    height: auto;
}

/* TODO This CSS is used for fixing broken datetime picker. Fix this problem later. */
.k-datepicker .k-select .k-icon {
	margin-top: 5px !important;
}

/* TODO This CSS is used for fixing broken datetime picker. Fix this problem later. */
.k-datetimepicker .k-select .k-icon {
	margin-top: 5px !important;
}

/* Used for coloring selected row on Kendo grid. */
.selectedGridRow {
	/*background-color: #8EBC00;*/
	background-color: #86E677;
}

/* 
 * Used for aligning datetime labels. 
 * Currently used in brandMasterManage, matterManage & categoryManage.
*/
.dateTimeLabel {
	width: 32px;
	float: left; 
	margin-top: 10px; 
}
/*
 * Css apply percent of width for some cass
 * @author hoang.ho
*/

.k-w30 {
    width:30% !important;
}
.k-w50 {
    width:50% !important;
}

/*
 * Css for dialog
 * @author hoang.ho
*/
.dialog div.message {
    text-align:center;
    margin:10px
}

.dialog div.buttonArea {
    text-align:center;
    padding:10px;
}
.dialog .buttonArea input[type=button] {
    text-align:center;
    margin-left: 10px;
    width:80px;
}
.dialog .warning {
    color:red;
}
.selectedRow {
    color: #fff;
    background-color: #7ea700;
    border-color: #7ea700;
}