* { padding:0; }
#bunrui_search_result,
#attribute_search_result {
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;;
}
#bunrui_search_result ul{padding: 0;}
#attribute_search_result ul{padding: 0;}
#bunrui_search_result li,
#attribute_search_result li {
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
    padding-left: 5px;
}

#bunrui_search_result .bunrui-code,
#attribute_search_result .attr-code,
#attribute_search_result .attr-type {
	display: none;
}

body .ui-dialog-titlebar {
	border: none;
    background: none;
}

.ui-widget-content {
	border: none !important;
    background: none;
    background-color: #C7C7C7;
    color: none;
}

.popup-search input {
	display: block;
	width: 225px;
	margin-top: 10px;
	padding-left: 3px;
}

.txt-size-medium {
    height: 18px;
    width: 203px;
}

#contents_inner {
    min-height: 692px;
    margin-bottom: 26px;
    background-color: #ffffff;
    border: 1px solid #AAAAAA;
}

.lstButton {
    float: right;
    width: 100px;
    /* margin: 0 5px 5px 5px; */
    margin: 0 2px !important;
}

.lstButton:hover {
    background-color: #E9E9E9;
}

#rightTab {
	width: 744px;
	float: left;
	padding: 10px 0px 0px 12px;
}

#rightTab li {
    height: 30px;
}

#rightTab p {
	float: left;
	width: 15%;
	text-align: right;
	padding-right: 3%;
}

#leftTab {
	width: 16%;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	margin-right: 20px;
}

#leftTab ul {
    width: 100%;
    padding-top: 10px;
}

#leftTab li {
	background-color: #FFF;
	width: 115%;
	padding: 4px;
	border: 1px solid #AAAAAA;
	margin-bottom: -1px;
	    padding-left: 30px;
}
#leftTab .tabStrip 
{
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border-color: rgb(170, 170, 170);
}
#leftTab .current {
	border-color: rgb(126, 167, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background: 3px 5px url("../images/arrow_right.png") no-repeat;
    border-right: none;
    position: relative;
	width: 149.5px;
}
.column-attr-name,
.column-attr-type,
.column-attr-required-flg,
.column-attr-sort,
.column-attr-delete {
    text-align: center;
    line-height: 1.5em;
}

.column-attr-name {
    width: 140px;
}

.column-attr-type {
	width: 100px;
}

.column-attr-required-flg {
    width: 50px;	
}

.txtSort {
	width: 40px;
	text-align: center;
}

.btnDelete {
	padding: 2px 20px;
    margin-left: 5px;
}

#aAttributeName {
	margin-left: 60px;
}

#attribute_search_result li.attr-disable {
	background-color: #E4E4E4;
}

.error {
	padding-left: 5px;
	font-weight: bold;
}

.delete-row {
	display: none;
}

#aBunruiName {
	margin-left: 15px;
}

.loading-ajax {
	background: url("images/loading.gif") no-repeat;
    background-size: 15px;
}

#loading-bunrui,
#loading-category {
	width: 14px;
    padding-left: 10px;
    display: none;
}

body .ui-dialog-title {
	color: #222222;
}

.btnDelete {
	width: 100px;
}

#keyword_bunrui {
	width: 280px;
}
#keyword_attribute {
    width: 280px;
}
#categoryNameLabel {
	font-size: medium;font-weight: 500;margin-left: 10px;
	width: 300px;display: inline-block;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;
}
#editCategoryActionForm {
    height: auto;
    min-height: 600px;
    background-color: white;
    border-left: 1px solid #7EA700;
    padding: 10px;
}
.panes .tabTitle {
width: 100%;
height: 28px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-color: #dadada;
box-shadow: 0 0px 2px 0 rgba(0,0,0,0.3);
}
.panes .tabTitle p {
    text-align: left !important;
    padding: 6px;
}
#rightTab .tr-catAttribute .k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg {
	position: absolute;
	margin-left: 105px;
}
/* boe thai.son 21-2 bug 73*/
#categoryName, #bunruiCode{
	width: 205px;
}
#attrTable .k-textbox{
	width: 42px !important;
}
/* eoe thai.son 21-2 bug 73*/