@CHARSET "UTF-8";

/*
#title {
    border-bottom: 2px solid #C0C0C0;
}
*/

#createCategory {
    width: 150px;
    float: right;
    text-align: center;
    text-decoration: none;
}

#contentsInner {
    min-height: 600px;
    margin-top: 5px;
}

#lstButton {
    float: right;
}

/*
.lstButton:hover {
    background-color: #E9E9E9;
}
*/

#table-content {
    padding-top: 35px;
}

#contentsInner .lstButton {
    width: 100px;
    height: 25px;
    margin-top: 3px;
}

/* #table-content th {
    background-color: #004080;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    color: #FFFFFF;
    display: table-cell;
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    height: 18px;
    line-height: 14px;
    text-align: center;
} */

#table-content tbody tr {
    height: 30px;
}

#table-content tbody tr td {
    border-bottom: 1px solid #D8D8D8;
}

/* #table-content tbody tr:hover {
    background-color: #EDC97A;
} */

td .tbSearch {
    width: 100%;
}

td .haft-size {
    width: 41%;
}

#table-content {
    font-family: Arial;
    font-size: 9pt;
}

#table-content .align-right {
    text-align: right;
}

#table-content .align-left {
    text-align: left;
}

#table-content .align-center {
    text-align: center;
}

.dataTables_empty {
    color: #C71444;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    padding-top: 10px;
}

.upDownToggleBtn {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    background: transparent;
    display: inline-block;
    vertical-align: top;
}

.addedCondition {
    padding-top: 6px
}

.showListbox {
    vertical-align: middle;
    margin-left: 1px;
}

.attributeCountZero {
    color: red;
}

.rightToggleBtn {
    background-image: URL('../images/arrow_right.png');
}

.downToggleBtn {
    background-image: URL('../images/arrow_down.png');
}

.fieldSet {
    border-top-color: threedface;
    border-top-style: solid;
    border-width: 1px 0 0 0;
    padding-top: 2px
}

#divShow {
    padding: 5px 0px 0px 25px;
    width: 300px;
    float: left;
}

.divContains {
    display: table-row;
}

.attrCodeGroupSelect {
    /*display: inline-block;*/
    /*display: none; */
    vertical-align: top;
}
/* .k-grid-header .k-header .k-link {
	color : white;
} */

.divContains .attrCodeGroupSelect {
	width: 215px;
	border-color: #dadada;
}

/*#8ebc00*/