/* @CHARSET "ISO-8859-1"; */

/* .processLoading{ */
/*     position: absolute; */
/*     width: 100%; */
/*     height: 150%; */
/* /*  for highest index and always show on top of divs */   */
/*     background-color:rgba(130,148,156,0.5); */
/*     z-index: 100; */
/* } */

/* .processLoading img{ */
/*     position: absolute; */
/*     top: 50%; */
/*     left: 48%; */
/*     width: auto; */
/*     height: auto; */
/* } */

/* .has-message { */
/*     padding: 5px; */
/*     margin-bottom: 5px; */
/*     width: 915px; */
/* /*     border: 2px solid #005F00; */ */
/*     font-family: bold; */
/*     padding-left: 25px; */
/* } */

/* .success { */
/* /*     background: 2px 3px url("../images/yes.png") no-repeat #DFFFDF; */ */
/*     color: #507f50; */
/*     border-color: #73C273; */
/*     background-color: #f0fff0; */
/* } */

/* .msg-error { */
/*     background: 2px 3px url("../images/no.png") no-repeat #DFFFDF; */
/*     color: #7f5050; */
/*     border-color: #dfd0d0; */
/*     background-color: #fff0f0; */
/* } */
