@CHARSET "ISO-8859-1";

.content {background: #ffffff; width: 950px;padding: 3px 10px 0px 0px;margin: 0 auto;min-height: 508px;}

.content .title {border-bottom: 2px solid #8EBC00;margin-top: 3px;}
.content .title h1 {border-left: 5px solid #8EBC00;padding-left: 5px;margin-bottom: 5px;font-size: 14pt;display: inline-block;}
.content .title input[type=button], .content .title a {float: right;text-align: center;text-decoration: none;}
.content .title a:hover {background-color: #8EBC00 !important;}

.content .contentInner {margin-top: 5px;margin-bottom: 10px;}
.content .contentInner .buttonArea {float: right;padding-right: 0px;width: 938px;padding-left: 5px;}
.content .contentInner .buttonArea input[type=button] {width: 100px;height: 25px;margin-top: 3px;margin-left: 2px;float:right;}

.content .contentInner .kendoWrapDiv {padding-top: 35px;}

.content .contentInner .kendoWrapDiv thead th {border-bottom: 1px solid #DDDDDD;text-align: center;text-overflow: clip}
.content .contentInner .kendoWrapDiv tbody tr {height: 30px;}
.content .contentInner .kendoWrapDiv tbody tr:hover {background-color: #8EBC00;}
.content .contentInner .kendoWrapDiv tbody tr td {border-bottom: 1px solid #D8D8D8;}

.content .contentInner .kendoWrapDiv .align-left {text-align: left;}
.content .contentInner .kendoWrapDiv .align-right {text-align: right;}
.content .contentInner .kendoWrapDiv .align-center {text-align: center;}

.content .contentInner .kendoWrapDiv .dataTables_empty {color: #C71444;font-weight: bold;text-align: center;font-style: normal;padding-top: 10px;}