@CHARSET "UTF-8";
* {
    padding:0;
}
#contents_inner {
    min-height: 692px;
    margin-bottom: 26px;
    border: 1px solid #AAAAAA;
    background-color: #ffffff;
}

/* Content Right & Left
==================================================*/

#editBrandActionForm {
	height: auto;
	min-height: 600px;
	background-color: white;
	border-left: 1px solid #7EA700;
	padding: 10px;
}
.panes .tabTitle {
	width: 100%;
	height: 28px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #dadada;
	box-shadow: 0 0px 2px 0 rgba(0,0,0,0.3);
}
.panes .tabTitle p {
	text-align: left;
	padding: 6px;
}

#rightTab {
width: 744px;
/* BOE #6634 No.17 Hoang.Ho 2014/02/18 Fix upload region not overlap on text-area when text-area resize */
margin-left: 19.1%;
/* float: left; */
/* EOE #6634 No.17 Hoang.Ho 2014/02/18 Fix upload region not overlap on text-area when text-area resize */
padding: 10px 0px 0px 12px;
}
#rightTab .lblMainTitleTabs {
	font-size: medium;
	font-weight: 500;
	margin-left: 10px;
}
#rightTab .button {
    margin-top: 10px;
    margin-left: 14%;
}
#rightTab li {
	height: 30px;
}
#rightTab .panes ul {
	padding-top: 10px;
}

#rightTab .panes ul li {
	padding-left: 20px;
	padding-right: 20px;
}
#rightTab .panes ul li.liTextArea {
/* BOE #6634 No.17 Hoang.Ho 2014/02/18 Fix upload region not overlap on text-area when text-area resize */
    min-height: 115px;
    height: auto;
    /* height: 115px; */
/* BOE #6634 No.17 Hoang.Ho 2014/02/18 Fix upload region not overlap on text-area when text-area resize*/
}
#rightTab .panes ul li.liImgUpload {    
	height: 160px;
}
#rightTab .panes ul li.liImgUpload #btnDeleteImg {    
	margin-bottom:18px;
	margin-left:10px;
}
#rightTab .panes ul li.liImgUpload .divImgUpload {  
	margin-left: 18%;
	margin-top: -10px;
}

#rightTab .panes ul li p {
	text-align: left;
}
#rightTab p {
	float: left;
	width: 15%;
	padding-right: 3%;
}
.cssChkDel {
	display: inline-flex;
	float: right;
	padding-right: 40px;
}
#leftTab {
    width: 16%;
    float: left;
    padding-top: 10px;
    padding-left : 10px;
    margin-right: 20px;
}

#leftTab ul{
    width: 100%;
    padding-top: 10px;
}

#leftTab li{
	background-color: #FFF;
	width: 115%;
	padding: 4px;
	border: 1px solid #AAAAAA;
	margin-bottom: -1px;
}

/* === Info ===
*/
#matterInfo {
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 5px;
}

#matterInfo div {
    line-height: 30px;
}

/* === button ===
*/

.button {
    color: #686868;
    text-decoration: none;
    width: 110px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 0px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    background: #E9E9E9;;
    display: inline-block;
    cursor: pointer;
}

.btn-color-red {
    background:  #E22C2C;
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
}

.btn-tab-left {
    margin-left: 7%;
    margin-top: 7%;
}

.cbb-size-normal {
    height: 22px;
    width: 207px;
}

.txt-size-medium {
    height: 18px;
    width: 203px;
}

.txt-size-large {
    height: 18px;
    width: 346px;
}

.lbl-size-medium {
    height: 29px;
    width: 127px;
    border: 1px solid #c3c3c3;
    text-align: center;
}

#contents_inner {
    margin-bottom: 26px;
}

#contents_inner {
    min-height: 692px;
}

.exhibition {
	background-color: red;
}

.k-weekend {
	background-color: pink;
}

.imageUpload {
	width: 100px;
	height: 100px;
}

#leftTab .tabStrip-selected {
	background: 3px 5px url("../images/arrow_right.png") no-repeat #E8E8E8;
	border-right: none;
	background-color: #FFFFFF;
	position: relative;
	width: 149.5px;
}

#leftTab .tabStrip {
	border-color: #7EA700;
}

#leftTab li {
	width: 115%;
	padding: 4px;
	border: 1px solid #AAAAAA;
	margin-bottom: -1px;
	padding-left: 30px;
}


/* BOE Css for input type file Le.Dinh 2014/01/06 #B06 */
#file_browse_wrapper {
    width: 93px;
    height: 28px;
    background: url('../images/file_browse_normal.png') 0 0 no-repeat;
    border:none;
    overflow:hidden;
    margin-left: 210px;
}
#fileupload{
	margin-left:-145px;
    opacity:0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
#imageName{
	float: left;
}

.lstButton:hover {
    background-color: #E9E9E9;
}

.lstButton {
	float: right;
    width: 100px;
    height: 25px;
    margin: 0 5px 5px 5px;
}

.k-input {
	padding-left:5px !important;
}

.btnTop {
	margin-right: 5px !important;
}

/* EOE Css for input type file Le.Dinh 2014/01/06 #B06 */

/* BOE #6634 No.15 Hoang.Ho 2014/02/18 Add confirm dialog when click button save data. */
#confirmSubmitDialog .buttonRight {
	text-align: center;
}
#loading-ajax-inline {
width: 14px;
padding-left: 10px;
display: none;
}
#sentence {
    height:112px;
}
.k-dropdown-wrap input.k-input {
	width:98% !important;
}
/* EOE #6634 No.15 Hoang.Ho 2014/02/18 Add confirm dialog when click button save data. */

/**
 * BOE Add css for upload image @rcv!cao.lan 2014/02/20 #6634
 **/
#logo{
	width: 203px;
}

#fileupload{
	cursor:pointer;
    position:absolute;
    top:0px;
    opacity:0;
    margin-left: -210px;
}

.upload-button{
	position: relative;
	overflow: hidden;
	height: 26px;
	cursor: pointer;
	width: 100px;
}
/**
 * EOE @rcv!cao.lan 2014/02/20 #6634
 **/
 .brandNameLabel {
    font-size: medium;font-weight: 500;margin-left: 10px;
    width: 300px;display: inline-block;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;
}