@CHARSET "UTF-8";

#topLeftBlock, #topRightBlock, #middleLeftBlock, #middleRightBlock ,#bottomBlock 
{float: left;display: inline;border :none}

/* BOE 2014/01/29 Nguyen.Chuong: hard height to set height for grid */
#gridModelFit1 {
    height: 232px !important;
}

#gridModelFit1 .k-grid-content {
    height: 167px !important; 
}

#gridModelFit2 {
    height: 232px !important;
}

#gridModelFit2 .k-grid-content {
    height: 167px !important; 
}

#gridModelFit3 {
    height: 245px !important;
}

/* #gridModelFit3 .k-grid-content { */
/*     height: 168px !important;  */
/* } */

/* EOE 2014/01/29 Nguyen.Chuong: hard height to set height for top left grid */

#topLeftBlock {width: 334px;height: 269px;}
#topRightBlock {width: 604px;height: 269px;}
#middleLeftBlock {width: 334px;height: 447px;}
#middleRightBlock {width: 604px;height: 447px;}
#bottomBlock {width: 934px;height: 600px;
margin-top: 25px;}
.kendoWrapDiv {
 height: auto;
}
.yellow { 
    background-color: yellow;
    color:gray !important;
}
.red { 
    background-color: red;
    color:gray !important;
}
.content .contentInner .buttonArea {width:auto}
#bottomBlock .buttonArea {width:600px}
.content .contentInner .kendoWrapDiv { 
 padding: 0px;
/*  background-color: #E8E8E8; */
 margin: 3px;
}

.bgGray { 
    padding: 3px;
/*     background-color: #E8E8E8; */
    margin: 3px;
    height: auto;
}

.content .contentInner .kendoWrapDiv tbody tr {
    height: 20px;
}
.content .contentInner div.title { 
    padding: 5px 3px 3px 10px;
    margin: 3px 3px 6px 3px;
    height: 26px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dadada;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.3);
}
div.title {
    padding: 5px 3px 3px 10px;
/*  background-color: #E8E8E8; */
    border-bottom:none;
    margin: 3px 3px 6px 3px;
    font-weight: bold;
    height: 26px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dadada;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.3);
}
.content .contentInner .buttonArea input[type=button] {
    margin-top:0px;
    margin-right: 3px;
}
.candidateArea {
    float:right;
    /* margin-left: 199px; */
    margin-bottom: 5px;
}
.productInfoShort {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.k-tooltip-content {
    text-align: left;
}

.thumb_selector {
    padding-left: 7.5%;
}

#productInfo {
    float:left;
}

#productInfo table{
    margin-left: 1px;
}

#productInfo span {
/*     padding-right: 10px; */
/*     border: gray 1px solid; */
/*     height: 18px; */
    margin-left: 2px;
}

.btnGrid43 {
    display: inline-block;
    float:right;
}

#btnExcute {
    margin-right: 5px;
}

#btnReset {
    margin-right: 5px;
}

#btnSearch {
    margin-right: 5px;
}

#selectExcute {
    margin-right: 5px;  
}

.productPleaseSelectDialog {
    text-align: center;
}

.productPleaseSelectDialogContent {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonAreaDialog {
    width: 83px;
    height: 25px;
    margin-top: 3px;
    margin-left: 2px;
    float: right;
}

.modelDetails ul li p {
    width: 100px;
    padding: 2px;
    background-color: #f0f9ff;
    border: 1px solid #d0d9df;
    color: #50607f;
    text-align: center;
    margin-right: 5px;
    margin-top: 2px;
    float: left;
}

.modelDetails ul li input {
    height: 22px;
    margin-top: 2px;
}

.kendoWrapDivMulti {
    height: 200px;
}

.row_table {
    width:190px;
    white-space: nowrap;
    overflow: hidden !important;
}

#txtAllModelFitInfo {
    width:265px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
    
.dateWrap {
    height: 15px;
    margin-bottom: 60px;
}

.dateCustom {
    float: left;
    width: 30px !important;
    margin-top: 10px;
    padding-right: 5px;
}

.filterTextBox {
    margin-top: 3px;
    width: 70% !important;
}

#candidate {
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;
    width: 25px;
    height: 19px;
}

#txtMaker, #txtStyle {
    width: 25%;
}

#txtModel {
    width: 43%;
}

.infoTitle {
    width: 90px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding: 2px;
    background-color: #f0f9ff;
    border: 1px solid #d0d9df;
    color: #50607f;
/*     background-color: green; */
/*     border: 1px solid white; */
/*     color: white; */
    text-align: center;
/*     margin-right: 5px; */
}

.dataTables_empty {
/*     width: 1800px; */
/*     text-align: left !important; */
/*     padding-left: 450px; */
    width: 100%;
    text-align: center !important;
}
#grid4EmptyElement {
	width: 2200px;
    text-align: left !important;
    padding-left: 450px;
    /* width: 100%; */
    /* text-align: center !important; */
}

.btnRed {
    color: white !important;
    background-color: rgb(189,76,76) !important;    
}

.btnRed:hover{
    border: red !important;
    background-color: rgb(189,76,76) !important;
}

.btnGreen {
    color: white !important;
    background-color: #8EBC00 !important;    
}

.btnGreen:hover{
    border: red !important;
    background-color: 8ebc00; !important;
}

#btnUpdateProductDialog {
    width: 80px;
}

/* Add bottom border for header row. */
#addModelDialogGrid .k-grid-header .k-grid-header-wrap thead tr th[role=columnheader] {
    border-bottom: 1px solid #DADADA !important;
}

#imageBlock {
    width: 98%;
    float: left;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    height: 270px;
    margin : 3px
/*     margin-top: 10px; */
/*     margin-left: 10px; */
}

.products_main_image_inner {
/*     width: 316px; */
    height: 55%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    z-index: 0;
    margin: 7px;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 10px;
}

.products_main_image_inner img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

.thumb_selector ul{
    margin-left: -37px;
}

.list_thumb {
    vertical-align: middle;
    float: left;
    margin: 0 3px 0 3px;
    width: 60px;
    height: 60px;
    position: relative;
    border: #DDD 1px solid;
    overflow: hidden;
}

.image_selected {
    border-bottom: #06C 5px solid;
}

.selector_thumb {
    max-width: 60px;
    max-height: 60px;
}

.products_main_image_inner a #imageThumbLoading {
    padding-top: 134px;
}

.prev_thumb {
    float: left;
    margin: 0 5px 0 5px;
    width: 15px;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 18px;
}

.prev_thumb a {
    background: url(../images/parts_images.png) no-repeat 0 -85px;
    width: 15px;
    height: 15px;
    display: block;
}

.next_thumb {
    float: left;
    margin: 0 5px 0 5px;
    width: 15px;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 18px;
}

.next_thumb a {
    background: url(../images/parts_images.png) no-repeat 0 -110px;
    width: 15px;
    height: 15px;
    display: block;
}
.rowGray {
    font-weight: bold;
    color: gray;
}
.rowPink {
    font-weight: bold;
    color: pink;
}
.rowGridChecked {
    background-color: gray;
    color: white;
}
.rowGridError {
    background-color: pink;
    color: gray;
}
.cbbFilter {
    width: 90% !important;
}
#txtModelMaker, #txtDisplacement, #txtmodelName, #modelMakerSearch, #modelDisplacementSearch, #modelNameSearch {
	border-style: solid;
    border-width: 1px;
    height: 22px;
/*     width: 98px !important; */
}

#txtMakerDialog, #txtStyleDialog {
	width: 190px;
}
#txtModelDialog {
	width: 190px;
}
#displayModelProduct .modelDetails .title {
    height: 40px;
    text-align: center;
    padding-top: 12px;
}
#tbProductProperPriceFrom {
    margin-top:5px;margin-left:5px;width: 95px
}
#tbProductProperPriceTo {
    margin-top:5px;margin-left:20px;width: 95px
}
.k-autocomplete{
	padding:0px !important;
/* 	margin: 2px 0px 0px 0px !important; */
	padding-right:2px !important;
}

.kendoWrapDiv thead th {
    text-align: center !important;
}

.k-grid-header .k-header {
	border-bottom: 1px solid #DADADA;
}

/* #addModelDialogGrid { */
/* 	height: 180px !important; */
/* } */
#displayModelProductTable {
	height: 175px !important;
}
/* #gridModelFit4 {
	overflow-x:scroll !important;
} */

/* GRID 3 COLUMNS - Begin */
#gridModelFit3 th[data-field=modelMaker] > span {
	width: 125px !important;
}

#txtModelMaker {
	width: 123px !important;
}

#gridModelFit3 th[data-field=modelDisplacement] > span {
	width: 72px !important;
}

#txtDisplacement {
	width: 70px !important;
}

#gridModelFit3 th[data-field=modelName] > span {
	width: 302px !important;
}

#txtmodelName {
	width: 300px !important;
}
/* GRID 3 COLUMNS - End */

/* addModelDialogGrid - Begin */
#addModelDialogGrid th[data-field=modelMaker] > span {
	width: 125px !important;
}

#modelMakerSearch {
	width: 122px !important;
	
	/* Fix bug border missing. */
    margin-left: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 2px;
}

#addModelDialogGrid th[data-field=modelDisplacement] > span {
	width: 72px !important;
}

#modelDisplacementSearch {
	width: 69px !important;
	
	/* Fix bug border missing. */
    margin-left: 1px !important;
	margin-top: 1px !important;
    margin-bottom: 2px;
}

#addModelDialogGrid th[data-field=modelName] > span {
	width: 302px !important;
}

#modelNameSearch {
	width: 299px !important;
	
	/* Fix bug border missing. */
    margin-left: 1px !important;
	margin-top: 1px !important;
	margin-bottom: 2px;
}
/* addModelDialogGrid - End */

/* Fix bug autoComplete break line */
#txtModelMaker_listbox {
	min-width: 122px;
}

/* Fix bug autoComplete break line */
#modelMakerSearch_listbox {
	min-width: 122px;
}
/* addModelDialogGrid - End */

/* Fix border width too thick in Chrome. */
#filters {
	border: 1px solid #d0d9df;
}

/* Fix bug remove the redundant line - Begin */
#addModelDialogGrid {
	height: inherit !important;
}

#addModelDialogGrid .k-grid-content {
	height: 195px !important;
}
/* Fix bug remove the redundant line - End */

/* Set z-index for kendo validator*/
#middleRightBlock .modelDetails .k-tooltip {
    z-index : 10003;
} 
#bottomBlock .buttonArea .k-dropdown {
	float:right;
}

#buttonPanel {
	margin-top: 10px;	
}
.align-center {
	text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.productSumary {
    height: 70px;
}
.k-grid-header .k-header .k-loading {
	position : absolute !important;
}
#gridModelFit3 .k-grid-content {
    height: 147px !important;
}
#gridModelFit3 .k-pager-sizes, #gridModelFit3 .k-pager-info
#addModelDialogGrid .k-pager-sizes, #addModelDialogGrid .k-pager-info{
	padding: 0 5px;
}
#addModelDialogGrid .k-state-hover, #addModelDialogGrid .k-state-focused
{
  background-color: #ffffff;
  background-image: none;
  background-position: 50% 50%;
  border:0px
}
#productInfo #productInfoDescriptionSummary span {
	max-height:66px;
}
#productInfo #productInfoDescriptionRemarks span {
    max-height:18px;
}
div.k-window-titlebar {
	margin-top:-29px !important;
}
div.k-window-titlebar .k-window-title {
   right: 30px;
}

#gridModelFit4 thead tr td {
    text-overflow: clip;
}
#hInfo {
    width: 940px;
}

#spnProductStatus {
    float: right;
}
#tbProductFitModelMaker, #tbProductFitModelModel {
border-width: 1px;
border-style: solid;
width: 163px !important;
}
#confirmChangeRowDialogOk {
  width: 75px;
}
#confirmChangeRowDialogCancel {
  width: 75px;
}
