@charset "utf-8";
/* CSS Document */

/*　フッター
==================================================*/
#top_link{
	width:950px;
	margin:30px auto 0 auto;
	padding-top:10px;
	text-align:right;
	clear: right;
    overflow: hidden;
    margin-bottom: 24px;
}
#top_link a{
	background:#17355C;
	color:#fff;
	padding:5px;
	text-decoration:none;
}

#footer{
    color:#fff;
    background:#8EBC00;
    clear: right;
    overflow: hidden;   
}

#footer a{
  color:#fff;	
}
#footer #footer_inner{
  width:900px;
	margin:0 auto;
	padding:25px 25px 20px 25px;
}
#footer dl{
  float:left;
	width:200px;	
}
#footer .copyright{
  text-align:center;
	padding:5px 0;
}

#bottom { 
	background-color: #E8E8E8; 
	bottom: 0px;
	display: block; 
	width: 100%;
	z-index: 10000;
	min-width: 950px;
	float: left;
}