@charset "utf-8";
/* CSS Document */

/* Top - Header
==================================================*/
#top{
    background:#E8E8E8;
    margin-top:0px;
    /*     BOE 20140121 Chuong */
/*     padding:10px 10px 10px 0px; */
    padding:10px 0px 10px 0px;
    /*     EOE 20140121 Chuong */
}

#top h2{
    border-left: #73D4EF 6px solid;
    padding: 0 0 0 7px;
    margin: 0px 0 10px 0;
}
#top dt{
    margin: 10px 0 10px 20px;
}
#top dd{
	margin-left: 85px;
	margin-top: -30px;
}
/* ログインボタン */
#top input#login {
    margin: 3px 0 0 0;
    padding: 5px 10px;
    color: black;
    width: 130px
}

#top_link{
	width:950px;
	margin:30px auto 0 auto;
	text-align:right;
	clear: right;
    overflow: hidden;
}
#top_link a{
	background:#253440;
	color:#fff;
	padding:5px;
	text-decoration:none;
}

.h1 {
/*     background-color: #004080; */
/*     background-image: none; */
/*     border-color: #404040; */
/*     border-style: solid; */
/*     border-width: 2px; */
/*     font-family: Arial; */
/*     font-size: 11pt; */
/*     height: 22px; */
/*     line-height: 20px; */
/*     transform: rotate(0deg); */
/*     width: 187px;     */
    color: #FFFFFF;
/*     font-family: Arial; */
/*     font-size: 11pt; */
/*     font-style: normal; */
    font-weight: bold;
/*     line-height: 0; */
/*     text-align: center; */
/*     text-decoration: none; */
/*     padding-left: 10px; */
/* 	padding-right: 10px; */
                font-size: 1em;
                text-transform: uppercase;
                padding: 5px 10px;

}

#header{
    margin:0 auto;
    width:950px;
}

#factoryLabel {
    cursor: default;
}

.header1 {
     background-color: #E8E8E8;
     font-family: Arial;
     font-size: 11pt;
     height: 35px;
     left: 37px;
     line-height: 20px;
     position: absolute;
     top: 0;
     width: 950px;
}

.menu_bar {
    background-color: #FFFFFF;
    background-image: none;
    font-family: Arial;
/*     font-size: 11pt; */
    height: 22px;
/*     BOE 20140121 Chuong */
/*     width:950px; */
/*     EOE 20140121 Chuong */
    margin: 0 auto;
}

.menu_bar label{
	padding-left: 15px; 
	font-weight: bold;
}

.menu_bar h1{
	padding-left: 15px; 
	font-weight: bold;
}

.logo {
    height: 20px;
    width: 86px;
}

.logout {
    color: #fff;    
    margin: 0 0 0 10px;
    text-decoration: none;
    float: right;
}

.user {
    float: right;
}

.wrapper{
	width: 99%;
	margin: 0px auto 10px auto;
	
}
/* End Thanh */

#menu a {
	text-decoration: none;
}
