ul {
	width: 50%;
	display: inline;
	padding:0px;
}

li .left {
	text-align: right;
	   display: inline;
}

li .right {
	text-align: left;
	   display: inline;
}

.left-row {
	width: 140px;
	display: inline;
	text-align: right;
}

.right-row {
	width:auto;
	   display: inline;
	   text-align: left;
}