@charset "utf-8";
/* CSS Document */

/*　
==================================================*/
#wrapper{
	padding:0;
}

#header{
    /*background:url(./images/bg_header.gif) repeat-x;
    position:fixed;
    top:0px;
    width:100%;
    height:80px;
    padding:5px 0 0 0;*/
    margin:0 auto;
    width:950px;
}
#status_inner{
    padding:5px;
    background:#ffffff;
    float:left;
    overflow:hidden;
}
#container{
    background:#E9E9E9;
	width:950px;
    margin:0 auto;
}
#left_container{
    background:#ffffff;
	width:150px;
    float: left;
	/*margin:0 auto;*/
    position:fixed;
    top:80px;
}
#right_container{
    background:#ffffff;
	width:790px;
    float:right;
	/*margin:0 auto;*/
    margin-top:80px;
}
#syouhin_list{
    margin-top:80px;
}
#footer{
    color:#fff;
    background:#17355C;
    clear: right;
    overflow: hidden;   
}
#gnavi{
    background:#ffffff;
	margin:10px 0 0 0;
}
#content{
  background:#ffffff;
  	width:950px;
    padding:3px 10px 0px 0px;
    margin: 0 auto;
}
#content h2 {
    border-left: #73D4EF 6px solid;
    padding: 0 0 0 7px;
    margin: 0px 0 10px 0;
}

/*　エラーメッセージ　*/
/*==================================================*/
ul.errorMessage{
    padding:5px 0 5px 25px;
    color:#C71444;
    font-weight:bold;
    margin: 10px;
    background-color: #FFEBEB;
}
ul.errorMessage li{
  list-style:square;
}
tr.errorMessage{
    background-color: #FFEBEB;
}
span.errorMessage{
    color:#C71444;
    font-weight:bold;
}

/*　入力説明　*/
/*==================================================*/
.help{
    color: #17355C;
}

/* ログイン、エラー  */
/*==================================================*/


/*　非表示　*/
/*==================================================*/
.hidden{
    display:none;   
}

/* 左メニュー */
/*==================================================*/
#contents_navi .box {
    border: #CCC 1px solid;
    margin: 0 0 10px 0;
    width: 130px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#contents_navi .box .cmsno_title {
    border-bottom: #CCC 1px dotted;
    margin: 5px;
}
/* ボタン共通 */
#contents_navi input {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
    width: 130px
}
/* 一時保存ボタン */
#contents_navi input.temp {
    color: black;
}
/* 登録ボタン */
#contents_navi input.perm {
    background: #FFD737;
    color: black;
    margin: 3px 0 0 0;
}
/* 削除ボタン */
#contents_navi input.delete {
    background: #E22C2C;
    color: white;
    margin: 3px 0 0 0;
}
/* 2013-06-07 - hieund - Add copy button styles - Begin */
#contents_navi input.copy {
    background: #CFE7F5;
    white-space: normal;
    margin: 3px 0 0 0;
}
/* 2013-06-07 - hieund - Add copy button styles - End */
#contents_navi .link_title {
    border-bottom: #CCC 2px solid;
    margin: 10px 0 0 0;
    font-size: 13px;
    font-weight: bold;
}
#contents_navi .link_name {
    background: url(http://210.149.169.135/sys_images/sd/icon.gif) 0px -105px no-repeat;   
    padding: 3px 0 0 20px;
    margin: 5px 0 5px 0;
    font-size: 13px;
}

@charset "shift_jis";
/* CSS Document */

/*　ベース
==================================================*/
/*
body{
	font-family:"ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, Osaka, sans-serif;
	font-size:12px;
	background:#e9e9e9;
	color:#555;
	line-height:1.4;
}*/
img{
	border:none;
}

/*　リンク
==================================================*/
a {
	color:#555;
    outline:none;
}
a:hover {
	text-decoration:none;
}
/* a:visited {
    color:#06C;
} */
a:hover img{
	filter: alpha(opacity=80);
	opacity:0.8;
}

/*　clearfix
==================================================*/

.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
.clearfix {
	zoom:100%;
}

/*　レイアウト
==================================================*/
#container{
    width:950px;
    margin:0 auto;
}

#left_container{
    width:150px;
    margin:0 auto;
    float: left;
}
#right_container{
    width:790px;
    margin:0 auto;
    float:right;
}

#header{
	width:950px;
	height:80px;
	margin:0 auto;
}

#gnavi{
  background:#ffffff;
	margin:10px 0 0 0;
}
#gps{
  padding:10px;
}
#contents{
  	background:#ffffff;
	padding: 0px 10px 0px 10px;
	margin: 0px auto;
}
#content{
  	background:#ffffff;
    padding:0px 10px 0px 10px;
    margin: 0 auto;     
}
#footer{
	color:#fff;
	background:#253440;
    clear: right;
    overflow: hidden;
}

/*　ヘッダー
==================================================*/
#header div.header1{
	height:16px;
	padding:5px 0 3px 0;
	_padding:4px 0 3px 0;
}
#header div.header1 p{
  float:left;
}
#header div.header1 ul{
  float:right;
}
#header div.header1 ul li{
	float:left;
	margin:0 0 0 10px;
}
#header div.header1 ul li.logout a{
	background:#73d4ef;
	color:#fff;
	padding:3px;
	margin:0 0 0 10px;
	text-decoration:none;
}
#header div.header2 ul{
	background:url(/moto_img/sm_promise.gif) no-repeat;
	overflow:hidden;
	height:31px;
	float:right;
	padding:0 0 0 95px;
	margin:9px 0 0 0;
}
#header div.header2 ul li{
  float:left;
	margin:0 5px 0 0;
}
#header div.header2 ul li a.search_on{
	background:url(/moto_img/sm_promise.gif) no-repeat 0 -31px;
	display:block;
	width:128px;
	height:31px;
	text-indent:-9999pt;
}
#header div.header2 ul li a.search_off{
	background:url(/moto_img/sm_promise.gif) no-repeat 0 -62px;
	display:block;
	width:128px;
	height:31px;
	text-indent:-9999pt;
}
#header div.header2 ul li a.market_on{
	background:url(/moto_img/sm_promise.gif) no-repeat -128px -31px;
	display:block;
	width:128px;
	height:31px;
	text-indent:-9999pt;
}
#header div.header2 ul li a.market_off{
	background:url(/moto_img/sm_promise.gif) no-repeat -128px -62px;
	display:block;
	width:128px;
	height:31px;
	text-indent:-9999pt;
}

/*　ぱんくず
==================================================*/
#gps ul{
	overflow:hidden;
}
#gps ul li{
	float:left;
}
#gps ul li a{
	color:#0eb2ff;
	margin:0 10px 0 0;
	padding:0 15px 0 0;
  background:url(/moto_img/icon_arrow_gps.gif) no-repeat right;
}

/*　メニュー
==================================================*/
#menu ul li{
  float: left;
  margin: 0 10px;
}

/*　ページ共通
==================================================*/

/*　フォームボタン用　*/
div.button{
  text-align:center;
}

/*　メッセージ　*/
.actionMessage{
  padding:30px 10px !important;
	text-align:center;
	background:#FFEED9;
	border:#FC9 1px solid;
	color:#F60;
	font-weight:bold;
	font-size:16px;
	margin:10px 0 10px 0;
}
.actionMessage li{
	list-style:none !important;
}

/*　エラーメッセージ　*/
.errorMessage{
	padding:5px 0 5px 20px;
	color:#C71444;
	font-weight:bold;
	text-align: center;
}
.errorMessage li{
  list-style:square;
}

/*　入力フォーム　*/
input.text{
	border:#ccc 1px solid;
	padding:1px;
}
input{
  vertical-align:middle;
}
input:focus,
textarea:focus{
	color:#555;
/* 	background:#ceebfb; */
}

/*　注意　*/
.attention{
  padding:5px 0;
	color:#c71444;
}

/*　ページャー　*/
div.pager{
  position:relative;
	overflow: hidden;
	margin:5px 0;
}
div.pager div{
  text-align:center;
}
div.pager div span{
  font-weight:bold;
}
div.pager ul{
  position:relative;
	left:50%;
	float:left;
	margin:0 0 0 -5px;
}
div.pager ul li{
  position:relative;
	left:-50%;
	float:left;
	margin:0 0 0 5px;
	height:24px;
	width:24px;
	line-height:24px;
	text-align:center;
	color:#ccc;
}
div.pager ul li a{
	display:block;
	text-decoration:none;
}
div.pager ul li a:hover{
  background:#23a0ea;
	color:#fff;
}
div.pager ul li.now{
  background:#23a0ea;
	color:#fff;
}
div.pager2{
  text-align:center;
	margin:10px 0;
}
div.pager2 span{
  font-weight:bold;
}
div.pager2 a{
  color:#09F;
}

/*　テキストエリア　*/
table textarea{
  font-size:12px;
	padding:1px;
	border:#ccc 1px solid;
  overflow-y:scroll;
}

/*　非表示　*/
.hidden{
  display:none;
}

/*　削除ボタン　*/
.delete{
  text-align:right;
	margin:0 0 3px 0;
}

div.button input{
	padding: 5px;
}

/*　　*/
.none{
  padding:0 !important;
	margin:0 !important;
}

#init table{
  width:100%;
    border-collapse:collapse;
    border:#dbdbdb 1px solid;
    margin:0 0 20px 0;
}
#init table thead td{
    background:#999;
    color:#fff;
}
#init table th{
  text-align:left;
    font-weight:normal;
    width:150px;
    padding:8px;
    background:#e9e9e9;
    border-right:#bebebe 5px solid;
    border-bottom:#dbdbdb 1px solid;
}
#init table th span{
  color:#c71444;
}
#init table td{
  padding:8px;
    border:#dbdbdb 1px solid;
}
#init table td img{
    width:240px;
    height:auto;
}
#contents table .hint{
  width:200px;
  color:#6699cc;
}
#init p{
  padding:5px;
}
#init p span{
  color:#c71444;
}
/* プレビュー */
#preview table.preview{
  margin-left:auto;
  margin-right:auto;
}

/* 商品ラインナップダイアログ */
#lineupForm table {
  border-collapse: collapse;
  border: 2px #1D5987 solid;
  margin: 0 3px 3px 3px;
}
#lineupForm table tr td{
  vertical-align: top;
}

/*　フッター
==================================================*/

#footer a{
  color:#fff;
}
#footer #footer_inner{
  width:900px;
	margin:0 auto;
	padding:25px 25px 20px 25px;
}
#footer dl{
  float:left;
	width:200px;
}
#footer .copyright{
  text-align:center;
	padding:5px 0;
}

#contents_inner {
    background-color: #E8E8E8;
    min-height: 487px;
}
