@charset "utf-8";
/* CSS Document */

/*　Base Css
==================================================*/
* {
	margin:0;
/* 	padding:0; */
	word-break:break-all;
	list-style:none;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#ffffff;
	color:#555;
	line-height:1.4;
}

img{
	border:none;
}

a {
	color:#7F7F7F;
    outline:none;
}

a:hover {    
	text-decoration:none;
}

a:hover img{
	filter: alpha(opacity=80);
	opacity:0.8;
}

.hidden{
    display:none;   
}

/*　clearfix
==================================================*/
.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

.clearfix {
	zoom:100%;
}

/*　Contents
==================================================*/
#wrapper{
	padding:0;
}

#contents{
  	background:#ffffff;
	padding: 0px 10px 0px 10px;
	margin: 0px auto;
/* 	background-image: url('http://demos.kendoui.com/content/shared/styles/flowers-left.png') */
/* 	                 ,url('http://demos.kendoui.com/content/shared/styles/flowers-right.png'); */
    background-image: url('./../images/tree_left.jpg')
                     ,url('./../images/tree_right.jpg');
	
	background-position:right,left;
    background-repeat: no-repeat,no-repeat;
}

#content{
  	background:#ffffff;
  	width:950px;
    padding:3px 10px 0px 0px;
    margin: 0 auto;
    min-height: 508px;
    margin-bottom: 10px;
}
#content h2 {
    padding: 0 0 0 10px;
    margin: 0px 0 10px 0;
    display: inline-block;
}

#content h1 {
    border-left: 5px solid #8EBC00;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
    display: inline-block;
}

#contents_inner {
    background-color: #E8E8E8;
    min-height: 475px;
    border: 1px solid #AAAAAA;
    margin-bottom: 10px;
    min-height: 475px;
}

#errorPageContent{
	position: absolute;
	top: 35%;
	width: 950px;
	height: 84px;
	padding-top: 65px;
	text-align: center;
	background: #FFEED9;
	border: #FC9 1px solid;
	color: #F60;
	font-weight: bold;
	font-size: 16px;
	margin: 10px 0 10px 0;
}

/* Popup
==================================================*/
#modal-popup {
	visibility:hidden;
	padding:8px;
	background:rgba(0,0,0,.3);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	position:absolute !important;
	top:50% !important;
	left:50% !important;
	margin-top:-94px !important;
	margin-left:-180px !important;
	z-index:101;
}

#heading-popup {
	background-color: #5ba5cb;
	border-bottom:1px solid #bababa;
	-webkit-box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	-moz-box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	-webkit-border-radius:4px 4px 0px 0px;
	-moz-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height:44px;
	color:#FFFFFF;
	text-shadow:0px 1px 0px #fff;
}

#content-popup {
	background:#fcfcfc;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}

#content-popup p {
	font-size:13px;
	font-weight:normal;
	text-align:center;
	line-height:10px;
	color:#555555;
	margin:19px 0;
	padding: 0 10px 0 10px;
}

/*　errorMessage
==================================================*/
.errorMessage{
	color: #C71444;
	font-weight: bold;
	text-align: center;
}

ul.errorMessage{
    padding:5px 0 5px 25px;
    color:#C71444;
    font-weight:bold;
    margin: 10px;
    background-color: #FFEBEB;
}

ul.errorMessage li{
  list-style:square;
}

tr.errorMessage{
    background-color: #FFEBEB;
}

span.errorMessage{
    color:#C71444;
    font-weight:bold;
}

span.successMessage{
    color:#06C;
    font-weight:bold;
}

.marginLeft23Percent{
	margin-left: 23%;
}

fieldSet {
    border-top-color: threedface;
    border-style: solid;
    border-width: 1px 1px;
    padding-top: 2px
}