/* # Login page
================================================== */
.frm-login { width: 240px; position: absolute; left: 50%; top: 50%; margin: -124px 0 0 -120px; text-align: center; -moz-perspective: 800px; -webkit-perspective: 800px; perspective: 800px; }
.frm-login.flipped #recover{ opacity:1; filter: alpha(opacity=100); -moz-transform:rotateY(0deg); -webkit-transform:rotateY(0deg); transform:rotateY(0deg); }
.frm-login form { width:100%; height:100%; position:absolute; top:0; left:0;}
.frm-login form { display: block; margin: 0 auto; width: 300px; }
.frm-login a { display: inline-block; }
.frm-login input[type=text], .frm-login input[type=password] { font-size: 11px; color: #858585; padding: 7px 7px 7px 7px; border: 1px solid #d7d7d7; width: 153px; display: inline; margin-top: 15px;}
.frm-login label { font-size: 11px; color: red; }

.lbl-background-color-blue {text-align: center; display: block; position: relative; overflow: hidden; width: 180px; background-color: #8EBC00; font-size: medium; margin-left: 64px;}
.lbl-background-color-blue span { display: block; color: #ffffff; font-size: 14px; margin-top: 5px; margin-bottom: 5px; font-weight: bold;  }

.txt-size-medium { background: #fbfbfb  213px 7px; }
.btn-login { margin-top: 15px; }
.btn-login input[type=submit] { float: center; }

.frm-login-row {text-align: center; display: block; position: relative; }
.errorMessage {color:red; display: inline-block; margin-top: 18px;}
/* # End Login page
================================================== */



