/* # Main Menu Page Css
================================================== */
.tbl-colum-action { text-align: center; }
.tbl-colum-action > a { margin: 0 2px; }
.tbl-colum-action > .btn-group { display: inline-block; margin: 0 2px; }

/* ===== Table buttons ===== */
[class*="tbl-control-size"] { text-shadow: none; }
[class*="tbl-control-size"] .caret { margin: 5px 0 0 6px; }
.tbl-control-size-small { font-size: 10px;}
.tbl-control-size-medium { font-size: 12px; padding: 6px 6px 5px 6px; }
.tbl-control-size-large { font-size: 14px; padding: 7px 7px 6px 7px; }
.tbl-control-size-xlarge { font-size: 16px; padding: 10px 12px 11px 12px; }
.tbl-control-size-standard { font-size: 12px; padding: 8px; }

.opt { padding-left: 8px; padding-right: 8px; margin: 0; }
.opt > span { margin-left: 0; }
.opt .iconb { font-size: 14px; }
.opt .caret { margin: 5px 0; }

#filter { background-color: #EFEFEF; padding: 5px 5px 9px 5px; border:1px solid #C9C9C9;}
#filter .label {padding-left: 20px;}

#mainContent thead tr th {
/* 	color: #FFFFFF; */
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    text-align: center;
/*     background-color: #8EBC00; */
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: Arial;
    font-size: 9pt;
    height: 18px;
    line-height: 14px;
    padding: 5px;
    display: table-cell;
}

.tbl-body tr td {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: Arial;
    font-size: 9pt;
    height: 26px;
    line-height: 14px;
    padding: 5px;
}

.tbl-size-large {
    background-color: #ffffff;    
    background-image: none;    
    padding-top: 5px;
    padding-bottom: 5px;
    width: 926px;
}

.thead > tr, body{
    display:block;   
 }

.newButtom {
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    border-color: #CDCDCD;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #030303;
    cursor: pointer;
    font-family: Arial;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    line-height: 10pt;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    transform: rotate(0deg);
    width: 113px;
}

.tbl-content {
	padding-left: 5px;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
    clear: both;
    width: 943px;    
}

#btnNewPJ {
    background-color: #FFF;
    height: 52px;
}

.cbb-size-small {
	height: 22px;
    width: 145px;
}

.dataTables_empty {
    color: #C71444;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    padding-top: 10px;
}

.align-right {
	text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}


/* # End Main Menu Page Css
================================================== */