@CHARSET "UTF-8";

.matterManageDialogContainer {
	text-align: center;
}

.matterManageDialogContent {
	/* text-align: center; */
	/*color: red;*/
	margin-bottom: 2em;
	margin-top: 1em;
}

#matterManageDialogContentLine2 {
	color: red;
}

.filterFrom {
	display: inline-block;
}

.filterFrom span{
    margin-left: 5px;
}

.filterTo {
    display: inline-block;
}

.filterTo span{
    margin-left: 5px;
}

.rowGray {
	/* Triet.Nguyen */
	/* font-weight: bold; */
    color: #C0C0C0 !important;
}

.dataTables_empty {
	width: 1800px;
	text-align: left;
	padding-left: 450px;
}
.tbNumberic {
	width: 70px;
}

.k-datepicker  {
    width: 70% !important;
}

.k-numerictextbox {
	width: 80px !important;
}

/*
.dateCustom {
    float: left;
    width: 30px !important;
    margin-top: 10px;
    padding-right: 5px;
}
*/

/*
.dateWrap {
    height: 15px;
    margin-bottom: 60px;
}
*/

.filterTextBox {
	margin-top: 3px;
}

#matterManageMessage {
	padding-left: 5px;
}
