.row_legend {
    padding:5px;
    height:25px;
}

.displayNone {
	display: none;
}

.selectedRowFileUpload {
	border: 3px solid #B4B4B4;
}

#vertical {
	height: 215px;
}

#left-pane ul {
	padding-left: 10px;
}

#delFlgCheckbox {
	display: inline-flex;
    float: right;
}

.labelColumnLeft {
	width: 112px;
	float: left;
	text-align: left;
	margin-right: 20px;
}

#matterNo,
.content_legend a {
	float: left;
}

.content_legend .k-button {
	float: left;
	margin-left: 20px;
	padding: 0px 10px;
}

.content_legend span {
    float: left;
}

#matterName {
	float: left;
	width: 200px;
}

#tbUpdatedOnFrom
, #tbUpdatedOnTo {
	width: 45%;
}

.dataTables_empty {
	width: 1720px;
	text-align: left;
    padding-left: 420px;
}

#right-pane hr {
	margin-right: 25px;
	margin-top: 8px;
	margin-left: 115px;
}

#right-pane #shortHr {
    margin-left: 80px;
}

#right-pane .count-value {
    float: right;
    width: inherit;
    text-align: left;
    background-color: white;
    padding-left: 5px;
}
.k-datepicker  {
	width: 70% !important;
}
.dateCustom {
	float: left;
	width: 30px !important;
	margin-top: 10px;
}
.dateWrap {
	height: 15px;
	margin-bottom: 60px;
}
#tooltip {
 color: blue;
}
#spnMatterNameError {
	width: 100%;
	float: left;
	text-align: left;
	padding-left: 131px;
}

#horizontal #left-pane {
	height: 250px !important;
}
#right-pane .row_legend {
	background-image: url(../images/point.png);  
    background-size: initial;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-position-x: center;
    background-repeat: repeat-x;
    background-position: 0 10px;
}

.count-title {
    float:left;
    background-color: white;	
}

#row-list-user .k-input {
	width: 130px;
    text-align: center;
}

#grid .gray {
	color: #C0C0C0 !important;
}
#spnTooltipError {
    margin-left: -108px;
    margin-top: 25px;
    margin-bottom: 3px;
}
.cbbFilter {
	width: 90% !important;
}

#btnAddNew
, #btnInsert
, #btnNewProduct {
	width: 100px;
	margin-right: 10px;
	height: 28px;
	margin-left: 10px;
}

#btnReset{
	float: right;
    width: 100px;
    height: 28px;
    margin-left: 15px;
}
#btnimageBrowser, #btnNewProduct {
    float: right;
    width: 100px;
    height: 28px;
}
#btnUpdate {
	float: right;
	width: 100px;
}
#subTitle {
    width: 960px;
    display: inline-flex;
}
#content h2 {
    display: flex;
    width: 115px;
    font-size: 22px;
}

#content .h2Title {
    display: flex;
    width: 115px;
}

#content #headerName {
	width: 380px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* boe thai.son*/
.matterDetailDialogContainer {
    text-align: center;
}

.matterDetailDialogContent {
    /* text-align: center; */
    /*color: red;*/
    margin-bottom: 2em;
    margin-top: 1em;
}
/* eoe thai.son*/
#tabstrip{
    border-color:white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
}

.k-tabstrip .k-content {
    position: absolute;
    top: 42px;
    bottom: 0;
    height: 90%
}
#export_header{
    margin-top: 5px;
    margin-bottom: 12px;
}
.control{
    margin-top: 5px;
    margin-left: -45px;
    margin-right: 130px;
    float: left;
    width: 100px;
}
.control label{
    width: 10px;
}
.li_control{
    height: 11px;
}
.attrCodeGroupSelect {
    vertical-align: top;
    width: 200px;
    border-color: #dadada;
}
.upload-button{
    position: relative;
    overflow: hidden;
    height: 26px;
    cursor: pointer;
    width: 100px;
}
#fileupload{
    cursor:pointer;
    position:absolute;
    top:0px;
    opacity:0;
    margin-left: -210px;
}
#importTab{
	padding: 0px;
}
.importLi{
	margin-top: 10px;
	padding: 2px;
}
.label1Import{
    width: 100px;margin-right: 17px;
}
.widthInputImport{
    width: 200px;
}
#importBtnCsvAnalyze{
    float:right;
    width: auto;
    height: 25px;
    min-width: 100px;
}

#exportErrorCSV {
    float:right;
    min-width: 100px;	
}

.liLeft {
    width: 760px;
    display: inline-block;
    float: left;
}

.liRight {
    display: inline-block;
    float: right;
}

.label2Import{
    width: 100px;margin-right: 17px;margin-left: 15px;
}
.label3Import{
    width: 100px;margin-right: 17px;margin-left: 60px;
}
/* Fix bug remove the line - Begin */
#gridMode1{
    /* height: 370px !important; */
    height: inherit !important;
}
#gridMode1 .k-grid-content {
    height: 350px !important;
}
/* Fix bug remove the line - End */
#tabstrip .k-content{
	overflow-y:scroll !important;
}
/* progress bar*/
/*BOE #7872 Tran.Thanh : fix bug 100% view wrong position*/
/* #progressBar .k-progress-status-wrap { */
/* 	text-align: left !important; */
/* } */

#percent {
	float:right !important;
}

#nameCSV {
    float:left !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}
/*EOE #7872 Tran.Thanh : fix bug 100% view wrong position*/

.btnRed {
    color: white !important;
    background-color: rgb(189,76,76) !important;    
}

.btnRed:hover {
    background-color: rgb(189,76,76) !important;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
/* Add bottom border for header row. */
#gridMode1 .k-grid-header .k-grid-header-wrap thead tr th[role=columnheader] {
    border-bottom: 1px solid #DADADA !important;
}
/* align center for header of grid */
#gridMode1 .k-grid-header .k-grid-header-wrap thead tr th[role=columnheader] {
    text-align: center;
}
.row_table {
    width:190px;
    white-space: nowrap;
    overflow: hidden !important;
}
.k-imagebrowser li.k-tile .k-thumb img.k-image {
max-width: 80px;
max-height: 80px;
width: auto;
height: auto;
}
/* BOE Nguyen.Chuong 2014/03/11 add css for checkbox check all and label */
#lblCheckBoxAll {
    text-align: left;
    float: left;
    margin-top: 9px;
    margin-left: 9px;
}
#checkBoxAll {
    text-align: left;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
/* EOE Nguyen.Chuong 2014/03/11 */

#progressBar {
	width: 300px;
}

.bar {
    height: 18px;
    background: green;
}