@CHARSET "UTF-8";

#centerTab {
	width: 85%;
	margin: 0 auto 0 auto;
	padding: 10px 0px 0px 10px;
}

#centerTab ul {
	background-color: #FFF;
	padding: 28px;
	height: 170px;
	border: 1px solid #AAAAAA;
	padding-top: 40px;
}

#centerTab li {
	height: 30px;
	margin-left: 16%;
	display: -webkit-flex;
}

#centerTab p {
	float: left;
	width: 25%;
	text-align: right;
	padding-right: 3%;
}

#centerTab .button {
	margin-top: 10px;
	margin-left: 14%;
}

.txt-size-medium {
	height: 18px;
	width: 203px;
}

.cbb-size-normal {
	height: 22px;
	width: 207px;
}

#content {
	min-height: 300px;	
}

#contents_inner {
    margin-bottom: 373px;
    min-height: 263px;
}