@CHARSET "UTF-8";

#centerTab {
	width: 90%;
	margin: 0 auto 0 auto;
	padding: 10px 0px 0px 0px;
}

#centerTab ul {
	background-color: #FFF;
	padding: 28px;
	height: 144px;
	border: 1px solid #AAAAAA;
	padding-top: 40px;
}

#centerTab li {
	height: 30px;
	margin-left: 10%;
}

#centerTab p {
	float: left;
	width: 25%;
	text-align: right;
	padding-right: 3%;
}

#centerTab .button {
	margin-top: 10px;
	margin-left: 14%;
}

.txt-size-medium {
	height: 18px;
	width: 203px;
}

.cbb-size-normal {
	height: 22px;
	width: 207px;
}

#content {
	min-height: 300px;	
}

#contents_inner {
    /*margin-bottom: 373px;*/
    min-height: 236px;
}

.newMatterDialogOk {
	font-weight: bold;
	color: green;
}

.newMatterDialogNg {
	font-weight: bold;
	color: red;
}

.newMatterDialogError {
	color: red;
	font-weight: bold;;
}

.row_table {
	width:240px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.cbbFilterUser {
	width: 100px;
}

#lstButton {
	 border-left: 1px solid #C9C9C9;
     border-right: 1px solid #C9C9C9;
     border-top: 1px solid #C9C9C9;
}

#contentNewMatterDialog {
	width: 795px;
}

.pjName {
	width: 146px;
}

.btnRed {
    color: white !important;
    background-color: rgb(189,76,76) !important;	
}

.btnRed:hover{
    border: red !important;
    background-color: rgb(189,76,76) !important;
}