/* Content Right & Left
==================================================*/
#centerTab {
    width: 85%;
	margin: 0 auto 0 auto;
    padding: 10px 0px 0px 10px;
}

#centerTab ul{
   	background-color: #FFF;
    padding: 28px;
    height: 395px;
    border: 1px solid #AAAAAA;
}

#centerTab li {
    height: 30px;
    margin-left: 9%;
    display: -webkit-flex;
}

#centerTab p {
    float: left;
    width: 25%;
    text-align: right;
    padding-right: 3%;
}

#centerTab input[type="button"] {
    margin-top: 10px;
    margin-left: 14%;
}

#centerTab .button {
    margin-top: 10px;
    margin-left: 14%;
}

#leftTab {
    width: 16%;
    float: left;
    padding-top: 10px;
    padding-left : 10px;
    margin-right: 20px;
}

#leftTab ul{
    background-color: #FFF;
    width: 100%;
    padding: 10px;
    border: 1px solid #AAAAAA;
}

/* === Info ===
*/
#matterInfo {
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 5px;
}

#matterInfo div {
    line-height: 30px;
}

/* === button ===
*/

.button {
    color: #686868;
    text-decoration: none;
    width: 110px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 0px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    background: #E9E9E9;;
    display: inline-block;
    cursor: pointer;
}

.btn-color-red {
    background:  #E22C2C;
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
}

.btn-tab-left {
    margin-left: 12%;
    margin-top: 12%;
}

.cbb-size-normal {
    height: 22px;
    width: 207px;
}

.txt-size-medium {
    height: 18px;
    width: 203px;
}

.lbl-size-medium {
    height: 29px;
    width: 127px;
    border: 1px solid #c3c3c3;
    text-align: center;
}

#contents_inner {
    margin-bottom: 165px;
}
