@CHARSET "UTF-8" ;

/******************BOE productMangegement******************/
#lstButtonLeft {
    float: left;
    width: 50%;
}
#lstButtonRight {
    float: right;
    width: 50%;
}
#lstButtonLeft input[type=button]{
    float: left;
    margin-left: 3px;
}
#actionDiv {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    display: flex;
}
#actionDivLeft {
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-left: 5px;
}
#actionDivRight {
    float: right;
    width: 50%;
    text-align: right;
    /* BOE: 2014/02/21 Triet.Nguyen */
    margin-left: -5px;
    /* EOE: 2014/02/21 Triet.Nguyen */
}

#table-content {

}
#vertical {
    height: 380px;
    width: 700px;
    margin: 0 auto;
}
.cbxExcute {
    margin-right: 3px;
    margin-top: 3px;
}
#selectExcute {

}
#tblFilterHeader {
    display: none;
}
#cannotUpdateStatus {
    display: none;
}
.txt-range {
    width: 60% !important;
    margin-bottom: 5px;
    margin-top: 5px;
}
.k-widget .k-combobox {
	padding: 0px !important;
}
.k-widget .k-dropdown {
    padding: 0px !important;
}
#contentsInner {
    border: 1px solid #C9C9C9;
    margin-top: 0px;
}
#mainContent {
    padding: 5px;
}
.lbl-To {
    padding-right: 15px;
}
.center {
    text-align: center;
    margin-bottom: 20px;
}
.td-right {
    text-align: right;
}
.td-left {
    text-align: left;
}
#tblMaintenance tr td {
    padding: 5px;
}
#txtMatterNo {
    width: 70px;
    text-align : right;
}
#loading-ajax-inline {
width: 14px;
padding-left: 10px;
display: none;
}
.dialog div.message {
    text-align:center;
    margin:10px
}

.dialog div.buttonArea {
    text-align:center;
    padding:10px;
}
.dialog .buttonArea input[type=button] {
	text-align:center;
	margin-left: 10px;
	width:80px;
}
.dialog .warning {
    color:red;
}.dialog ul {
    padding:0
}
.dialog ul li {
	padding:5px
}
.dialog .td-right {
	width: 92px
}
#cbxValidate{
	position:absolute;
	margin-left:-59px;
	margin-top:-10px;
}
#cbxPrdSupplierStatus {
	padding-top:20px;
}
#grid .k-grid-content {
    height: 450px !important;
}
#title {
    border-bottom: none;
}
#grid .k-loading-image {
    background-image: none;
}
/******************EOE productMangegement******************/

/******************BOE productReview******************/

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

#leftPreviewBlock {
    float: left;
}

#simpleDataPopup {
    min-height: 350px !important;
}

#imagePreviewBlock {
    float: left;
    width: 216px;
    height: 245px;
}

#imageBlock {
    float: left;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    margin : 3px;
}

#productInfoBottom {
    margin: 11px 0px 0px 6px;
    border-top: 2px solid;
    border-color: green;
}
#productInfoProductCondition {
    width: 440px;
}
#rightReviewBlock {
    width: 570px !important;
    height: 635px !important;
    float: left;
    margin-left: 20px;
}

#rightPreviewBlockTitle {
    margin: 0px 0px 2px 20px;
    float: left;
    width: 567px !important;
}

#fitModelPreviewBlock, #guestInputPreviewBlock {
    width: 540px;
    margin-left: 8px;
}
#previewPopupFitModelGrid .k-grid-content {
    height: 85px !important;
}
#previewPopupGuestInputGrid .k-grid-content{
    height: 55px !important;
}

#videoPreviewBlock {
    width: 100px;
    height: 100px;
}
#linkReasonPreviewBlock {
    width: 100px;
    height: 100px;
}



#btnSwitchPrevieMode {
    float: right;
}

#simpleDataPopup .infoTitle {
    width: 90px !important;
}

#descriptionSentencePreviewBLock a {
    color: blue;
}

#productInfoBottom table {
    margin-top: 4px;
}

#previewPopupHTML div.title { 
    padding: 5px 3px 3px 10px;
    margin: 3px 3px 6px 3px;
    height: 19px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dadada;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.3);
}

#simpleDataPopup ul {
    padding-left: 0px;
}

.products_main_image_inner {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    z-index: 0;
    margin: 7px;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 10px;
    display: table-row;
}

.products_main_image_inner a:first-child {
    height: 150px;
    width: 215px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

.products_main_image_inner img {
    max-width: 100%;
    max-height: 100%;
    min-height: 115px;
    background-size: cover;
    margin-bottom: 5px;
}

.fancybox-overlay {
    z-index : 10000000 !important;
}

.thumb_selector ul{
    margin-left: 12px;
}

.list_thumb {
    vertical-align: middle;
    float: left;
    margin: 0 3px 3px 3px;
    width: 30px;
    height: 30px;
    position: relative;
    border: #DDD 1px solid;
    overflow: hidden;
    text-align: center;
}

.image_selected {
    border-bottom: #06C 5px solid;
}

.selector_thumb {
    max-width: 30px;
    max-height: 30px;
}

.products_main_image_inner a #imageThumbLoading {
    padding-top: 134px;
}

#btnListImage {
    width: 184px;
    margin: 3px 0px 0px 15px;
}

.infoTitle {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding: 2px;
    background-color: #f0f9ff;
    border: 1px solid #d0d9df;
    color: #50607f;
    text-align: center;
}

#fitModelPreviewBlock .infoTitle
, #guestInputPreviewBlock .infoTitle {
    margin: 2px 0px 2px 0px;
}
#productInfoSyouhinSysCode span {
    margin-top: 5px;
}
.productInfoShort {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 161px;
    float: left;
}

#productInfoProductSiireNoukoName span {
    height: 45px !important;
    width: 440px;
    overflow: auto !important;
    max-width: 440px;
    display: inline-block;
    white-space: nowrap;
/*     text-overflow: ellipsis; */
}

/* BOE: 2014/02/21 Triet.Nguyen */
#grid.k-grid {
    margin-top: 50px\9;
    *margin-top: 50px;
    _margin-top: 50px;
}
/* EOE: 2014/02/21 Triet.Nguyen */
#csvPopup{
    border-color:white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
}

.k-tabstrip .k-content {
    position: absolute;
    top: 42px;
    bottom: 0;
    height: 90%
}
#export_header{
    margin-top: 5px;
    margin-bottom: 12px;
}
.control{
    margin-top: 5px;
    margin-left: -45px;
    margin-right: 130px;
    float: left;
    width: 100px;
    height: 16px;
}
.control label{
    width: 10px;
}
.li_control{
    height: 11px;
}

#msAdvanceSearch{
    float: left;
    margin-left: 5px;
    margin-top: 8px;
    color: blue;
}
/******************EOE productReview******************/

/******************BOE productDetailSearch******************/

/******************EOE productDetailSearch******************/

#thumb_selector_id ul li a {
    vertical-align: sub;
}
#thumb_selector_id ul li a img {
    vertical-align: -webkit-baseline-middle;
}

#detailSearchDialog .list-option {
	display: inline-table;
}
