@CHARSET "UTF-8";

/* Start Chuong */
/*BOE CSS for block 3: top and bottom button */
input[type=button] {
    width: 100px;
    height: 25px;
}
.btnRed {
    color: white !important;
    background-color: rgb(189,76,76) !important;    
}
/*EOE CSS for block 3: top and bottom button */

/* BOE CSS for block 12: video */
#block12Content {
    padding-top: 15px;
}

.videoIframe {
    width: 328px;
    height: 240px;
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}
.videoTtl {
    padding-left: 12px;
}
/* EOE CSS for block 12: video */

/* BOE CSS for block 14: attribute */
#attributeTable {
    margin-top: 15px;
}
/* EOE CSS for block 14: attribute */

/* End Chuong */

/* Start Dai */
#mainheaderContent {
/*     display: inline-flex; */
}

#mainheaderContent input[type=button] {
    width: 100px;
    height: 25px;
    margin-left: 2px;
}

#leftHeader {
    width: 440px;
    float:left;
}

#rightHeader {
    float:right;
    margin-right: 3px;
}

#btnBackTop {
    margin-right: 10px;
}

.btnRed {
    color: white !important;
    background-color: rgb(189,76,76) !important;
}

.content_block_10 {
    padding-left: 10px;
    padding-top: 20px;
    max-width: 594px;
}

.contentTitle {
    border-left: 5px solid #8EBC00;
    padding-left: 8px;
}

.content10 {
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

#block11 {
    padding: 10px;
}

.content11 {
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
}

#block11 li {
    padding-top: 15px;
    
}

#block11 a {
    padding-left: 15px;
}

#block11 ul {
    padding-left: 10px;
}

#block11 ul li:before {
    content: '\2022';
    width: 1.2em;
    display: block;
    float: left;
}

#guestInputContent {
	margin-top : 5px;
}

.left {
	width: 138px;
	height: 25px;
}

.noneDisplay {
	display: none;
}
.header-model {
	width: 237px;
}
/* BOE block 15 Selection*/
.top-rightHeader {
    background-color: #8EBC00;
    text-align: center;
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
}
.top-rightInfo {
    padding: 25px 0px 10px 0px;
    border-bottom: 1px #525252;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
}
.top-rightInfo3 {
    padding: 25px 0px 0px 0px;
}
/* EOE block 15 Selection*/
#noFitModelData {
	width: 419px;
	text-align: center;
	color: red;
	font: normal normal bold 12px/normal Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

#viewProductName {
	margin-left: 2px;
	max-width: 367px;
	white-space: normal;
	font-size: large;
}
/* End Dai */

/* Start Thanh */

.rowEditIamge {
	height: 17px;
}

.tableEdit {
	display: table;
}

.inlineTable {
	display: inline-table;
}

.block5ColumnLeft {
    width: 190px;
    float:left;
}

.block5ColumnLeftProductCode {
    width: 245px;
    float:left;
}

.rowDetail {
	width: 155px;
	display: inline-table;
}

.rowEdit {
    width: 30px;
    display: inline-table;
}

.block5ColumnRight {
    width: 190px;
    float:right;
}

.block5ColumnRightJanCode {
    width: 140px;
    float:right;
/*     margin-left: 10px; */
}

.rowContent {
	display: table;
	width: 100%;
}

.rowContent p{
    border-left: 4px solid #8EBC00;
    margin-left: 3px;
    padding-left: 3px;
/*     display: inline-flex; */
}

.rowContentSpan{
    border-left: 4px solid #8EBC00;
    margin-left: 3px;
    padding-left: 3px;
/*     display: inline-flex; */
}

.rowContent div {
    overflow: hidden;
/*     display: inline-flex; */
}

.block5Content {
    padding: 5px;
}

.block7Content {
    padding: 3px;
}

.titleBlock8 {
    color: red;
    width: 385px;
}

#guestInputContent .tbBlock8 {
    width: 385px;
}

.titleBlock {
    border-left: 4px solid #8EBC00;
    margin-left: 3px;
    padding-left: 3px;
}

.cbbBlock7 {
    width: 390px !important;
}

.block5Column {
    width: 75px;
    padding:5px;
    margin-right: 3px;
    text-align: center;
    border: 2px solid #DADADA;
    white-space: nowrap;
    font-size: 9pt;
    font-style: normal;
    display: table-cell;
    height: 29px;
}

.selectCode {
/*     display: flex; */
	margin-top: 15px;
	height: 29px;
	width: 400px;
	margin-left: 0px;
	display: inline-table;
}

.price {
    height: 30px;
    display: inline-table;
    width: 158px;
}

.price p {
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    height: 18px;
    line-height: 14px;
    padding: 5px;
    min-width: 72px;
}

.titlePrice p {
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    height: 18px;
    line-height: 14px;
    padding: 5px;
}

.redPrice {
    color: red;
}

.titlePrice {
    width: 74px;
    display: table-cell;
}

.rowProductCode {
    width: 210px;
}

.pencil {
    display: inline-table;
    float : right;
}

.borderLeftGreen {
    border-left: 4px solid #8EBC00;
    margin-left: 3px;
}

/* table tr td { */
/*  border: 1px solid #DADADA; */
/* } */

/* table tr th { */
/*  border: 1px solid #DADADA; */
/* } */

.content_block_14 {
    padding: 5px;
}

.tableContent {
    margin-top:5px;
    border: 1px solid #DADADA;
}

.tableContent thead {
    background-color: #DADADA;
}

.tableContent thead tr th {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: Arial;
    font-size: 9pt;
    height: 18px;
    line-height: 14px;
    padding: 5px;
    display: table-cell;
}

.tbl-body tr td {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: Arial;
    font-size: 9pt;
    height: 26px;
    line-height: 14px;
    padding: 5px;
    width: 105px;
}

.tbl-size-large {
    background-color: #ffffff;
    background-image: none;    
    padding-top: 5px;
    padding-bottom: 5px;
    width: 926px;
}

.thead > tr, body{
    display:block;
 }
table {
    margin: 5px 0px 5px 5px;
}

.right tr td {
    padding: 5px;
    border-bottom: 1px solid #DADADA;
 }
 
table tr th {
    border: 1px solid #DADADA;
 }
 
 table thead {
    background-color: #DADADA;
 }
 
 .innertbl {
    width: 246px;
    padding: 0px !important;
    margin: 0px !important;
 }
 
 .innertbl_td {
 	width: 246px;
 }
 
 .left {
    border-right: 1px solid #DADADA;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
 }
 
 .right {
 	border-bottom: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
}
 
#top-right ul {
    padding-left: 20px;
 }
 
 #blockTopRight {
    margin-top: 0px;
 }
 
.k-splitbar {
    background-color: white !important;
}

.k-secondary .k-splitbar {
    background-color: white !important;
}

#viewProductId, #viewProductJanCode {
	padding-left: 5px;
	display: inline-table;
}

#viewProductJanCode {
	width: 108px;
}
/* BOE block 4 Image */
#imagePreviewBlock {
    float: left;
/*     width: 216px; */
/*     height: 245px; */
}

#viewProductCode {
	width: 170px;
	padding-left: 2px;
}

#imageBlock {
    float: left;
    background-color: #ffffff;
    margin : 3px;
    position:relative;
}

.pencilPrice {
	margin-top: -10px;
}

.products_main_image_inner {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    z-index: 0;
    margin: 7px;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 10px;
    display: table-row;
}

.products_main_image_inner a:first-child {
    height: 300px;
    width: 300px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.products_main_image_inner img {
    max-width: 284px;
	max-height: 284px;
	margin: 0px auto;
}

.fancybox-overlay {
    z-index : 10000000 !important;
}

.thumb_selector ul{
/*     margin-left: 12px; */
}

.list_thumb {
    vertical-align: middle;
    float: left;
/*     margin: 0 3px 3px 3px; */
/*     width: 30px; */
/*     height: 30px; */
    width: 46px;
    height: 46px;
    position: relative;
    border: #DDD 1px solid;
    overflow: hidden;
    text-align: center;
    margin: 3px;
}

.image_selected {
    border-bottom: #06C 5px solid;
}

/* .selector_thumb { */
/*     max-width: 46px; */
/*     max-height: 46px; */
/* } */

.products_main_image_inner a #imageThumbLoading {
    padding-top: 134px;
}

#btnListImage {
    width: 184px;
    margin: 3px 0px 0px 15px;
}

.imageInfo {
    padding: 20px 0px 0px 20px;
    float: left;
    text-align: left;
}

.imageInfo ul {
    padding: 0px 0px 0px 0px;
}

.imageInfo li {
    height: 25px;
    text-decoration:underline;
}

.row {
	margin: 5px;
}

.borderBottom {
	border-bottom: 1px solid #DADADA;
}

.borderLeft {
    border-left: 1px solid #DADADA;
}

.borderRight {
	border-right: 1px solid #DADADA;
	margin-right: -16px !important;
}

.borderTop {
    border-top: 1px solid #DADADA;
}

.borderDefault{
	border: 1px solid #DADADA;
}

.borderBottomGreen {
	border-bottom: 2px solid #8EBC00;
}

.h1 {
    color: #FFFFFF !important;
    font-weight: bold !important;
    font-size: 1em !important;
    text-transform: uppercase !important;
    padding: 5px 10px !important;
}

#viewBrandName, #viewCategoryName {
	width: 188px;
}

/* #viewSiire1, #viewSiire2, #viewNouki1, #viewNouki2 { */

/* } */

.siire2 {
	width: 200px;
}

.column {
	background-color: white;
}

.viewSupplierName {
	width: 50px;
}

#viewSiireName1, #viewSiireName2 {
	display: inline-block;
}

#listThumb {
    margin-left: 13px;
}
/* EOE block 4 Image*/

#block15Content {
	max-height: 550px;
	overflow-y : auto;
}

#block6 p {
	margin: 0px !important;
}
/* End Thanh */
/* Begin @rcv!dau.phuong 20140715*/
#popUpCheck {
	position: fixed;
	z-index: 100;
	margin: 0px;
	padding: 0px;
	top: 200px;
	right: 0;
	list-style: none;
	height: 0px;
}
#divCheck {
	background: #efefef;
	width: 300px;
	margin: 0 0 5px 0;
	position: relative;
}
#checkPerson {
	width: 100px;
	float: left;
	margin-top: 34px;
}
#checkContent {
	float: left;
	width: 200px;
}
#tabstrip{
	width: 800px;
	border-color: rgba(255, 255, 255, 0);
}
#lstButtonCheckPopup {
	padding-left: 5px;
	text-align: right;
	padding-right: 5px;
}
.lblCheckBoxAll {
	text-align: left;
	float: left;
	margin-top: 9px;
	margin-left: 9px;
}
#checkBoxAll {
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}
.correspond {
	width: 55px !important;
	margin-left: 2px;
	height: 19px !important;
	font-size: 12px;
	background-color: #8EBC00;
	color: white;
}
.unCorrespond {
	width: 55px !important;
	margin-left: 2px;
	height: 19px !important;
	font-size: 12px;
}
#checkContent > div > div > div > div > div > div > div > table > thead {
	background-color: white;
}
#checkContent > div > div > div > div > div > div > div > table > thead > tr > td > span.cbbFilterCorrespond {
 	width: 100%;
 	margin-left: -5px;
}
#checkContent > div > div > div > div > div > div > div > table > thead > tr > td > span.cbbFilterCalibrationType {
 	width: 100%;
 	margin-left: -7px;
}
#checkContent > div > div > div > div > div > div > div > table > thead > tr > td > span.cbbFilterUser {
 	width: 120px
}
.headerPopup{
	font-size: 12px;
}
.lblCheckPerson {
	margin: 6px;
}
.checkPerson {
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}
.rowGridChecked {
    background-color: #D8D8D8;
    color: black;
}
#viewCheckOne, #viewCheckTwo {
	margin: 0;
}
.k-grid-content {
	height: 255px;
}
/* Popup Tab all */
.lastUpdateTxt {
    float: right;
    padding: 10px 10px 10px 10px;
}

.cancelBtn {
    margin: 5px 0px 5px 560px !important;
}
.saveBtn {
    margin: 5px 0px 5px 5px !important;
}
#lstEditCalibrationType {
	margin-left: 10px;
	height: 22px;
	width: 100px;
}
.k-datetimepicker {
	border: 0 !important;
}
.backgroundPopUp {
    position: fixed;
    width: 100%;
    height: 100%; 
    background-color:rgba(130,148,156,0.5);
    z-index: 100;
}
.editorContentRequest {
    margin: 7px 0px 7px 0px !important;
    width: 100% !important;
    border-color: rgb(223, 220, 220) !important;
/* 	height: 19px; */
}
#grid .dataTables_empty {
    width: 180px;
    text-align: left;
    padding-left: 340px;
}

#popUpCheck {
    font-size: 12px !important;
}

#grid {
    font-size: 12px !important;
}

.tooltipRespond {
	text-align: left;
}
#divCheckbox {
	border: solid 1px #7ea700;
	background-color: white;
}
 .preCalibrationData {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
    color: inherit;
/*     font-size: 12px !important; */
 }
/* End @rcv!dau.phuong 20140715*/

/*BOE Rvc!Tuong.Luong: block 5 validate button*/
.rowLabelButton {
	margin-top: 1px;
	margin-bottom: 1px;
	
	display: inline-table;
}
.ItemValidate {
	width: 100px;
    padding:5px;
    margin-right: 3px;
    text-align: center;
    border: 1px solid #DADADA;
    white-space: nowrap;
    font-size: 9pt;
    display: table-cell;
}
 .innertbl_td_invalid {
 	width: 246px;
 	background-color: yellow;
 }
 .btnIcon{
    margin-left: 235px;
    width: 10px; 
    height: 10px; 
}
 .editIcon{
    width: 10px; 
    height: 10px; 
}
.leftInvalid{
	width: 138px;
	height: 25px;
	border-right: 1px solid #DADADA;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
	background-color: yellow;
}
 .btnIconBlock9{
    margin-left: 360px;
    width: 10px; 
    height: 10px; 
}

.blockError {
    background-color: yellow;
}

.errorFlg {
    background-color: rgb(255,133,133);
    color: white;
}
.selector_thumb {
	height: 46px;
	width: 46px;
}
img.selector_thumb {
	height: 100%;
}
.requestManageDialogContainer {
	text-align: center;
}
.requestManageDialogContent {
	margin-bottom: 2em;
	margin-top: 1em;
}
 /*EOE Rvc!Tuong.Luong: block 5 validate button*/
.k-calendar-container th {
    text-align: right;
    border: 0;
 }
 
.error-option {
    color: red !important;
    background-color: pink !important;
}

/*BOE rcv!Nguyen.Chuong #11468 2014/08/29 coding css for request tooltip.*/
.requestToolTip {
    width: 15px;
    height: 15px;
    display: inline-table;
}
/* Css for request tooltip fix bugs show tooltip min size */
.k-tooltip {
	min-width: 15px;
	min-height: 15px;
}
/* align left for request tooltip */
.k-tooltip-content {
	text-align: left;
}
/* hide close button of request tooltip */
.k-icon.k-i-close {
	display: none !important;
}
/*EOE rcv!Nguyen.Chuong #11468 2014/08/29 coding css for request tooltip.*/