@CHARSET "UTF-8" ;



#merchandiseInfo, #whetherSearchCondition, #searchOption {
	/* Make fieldset wrap content */
	/* display: inline-block; */
	float: left;
	margin: 0 2px;
}

#otherSearchOptions {
	float: left;
	margin: 0 2px;
}

/* Rightmost column includes 4 rows: #otherSearchCriteria, #managementRecord, #multiSearch and #controlButton*/
#otherSearchCriteria {
	height: 196px;
}

#managementRecord {
	 height: 171px; 
}

#multiSearch {
	height: 310px;
}

#controlButton {
	margin: 4px 0 0 0;
	text-align: center;
}

.merchandiseInfoLabel, .otherSearchCriteriaLabel {
	width: 110px;
	float: left;
	text-align: right;
	margin: 4px 4px 0 0;
}

.merchandiseInfoRow, .whetherSearchConditionRow, .searchOptionRow, .otherSearchCriteriaRow {
	margin: 8px 0;
	height: 22px;
}

.whetherSearchConditionRow, .searchOptionRow {
	text-align: center;
}

.otherSearchCriteriaRow {
	text-align: left;
}

.managementRecordRow {

}

.managementRecordPeriod {

}

.managementRecordColumn1 {
	float: left;
	width: 100px;
	
}

.managementRecordColumn2 {
	float: left
}

.managementRecordInput {
	margin: 0 0 5px 0;	
	width: 300px;
}

.managementRecordEvenRow {
	/* TODO Setting this line is not good. Improve it later. */
	padding: 0 0 0 83px;
}

.multiSearchRow {
	float: left;
	margin: 5px;
}

.controlButtonRow {
	margin: 2px 0 0 0;
}

.otherSearchCriteriaWideInput {
	width: 322px;
}

.searchOptionRadioButton {
	margin: 4px 0 0 0;
}

.searchConditionCheckbox {
	height: 24px;
	margin: 0 10px;
}

.managementRecordLabel {
	width: 120px;
	text-align: right;
	margin: 4px 4px 0 0;
}

#multiSearchCriteriaTextArea {
	margin-top: 5px;
	height: 220px;
	width: 100%;
	position: inherit;
}

.multiSearchLabel {
	width: 92px;
	float: left;
	margin: 4px 4px 0 0;
}

#variousFlag {
	width: 316px;
}

.realControlButton {
	width: 200px;
	
	/* This violates Kendo margin styles but it is necessary now. */
	margin: 0 5px !important;
}

.whetherSearchConditionCheckbox {
	margin-top: 7px;
}

.attributeManagementValueRow {
	text-align: center;
}

#attributeManagementValueFlagCheckBox {
	margin: 7px 0 0 0;
}

.otherSearchCriteriaVariousFlagRow {
    margin: 8px 0;
}

.otherSearchCriteriaVariousFlagLabel {
    width: 110px;
    float: left;
    text-align: right;
    margin: 4px 4px 0 0;
}

.multiSearchItemCounterLabel {
	float: left;
	margin: 4px 0 0 216px;
}

/* Set width for multiSelect. */
.otherSearchCriteriaVariousFlagRow .k-widget.k-multiselect.k-header {
	width: 314px;
	float: left;
}

/* Fix bug arrow sign is moved a little bit up. */
/*
.k-widget.k-combobox.k-header span .k-icon.k-i-arrow-s, .k-widget.k-dropdown.k-header span .k-icon.k-i-arrow-s {
    margin-top: 4px;
}

.k-widget.k-combobox.k-header span .k-icon.k-i-arrow-s.k-loading {
	margin-top: !important 4px;
}
*/

#noExistDialogContent, #noChangeDialogContent, #noChangeDefaultDialogContent {
	text-align: center;
	margin: 0 0 10px 0;
}

#noExistDialogButtonPanel, #noChangeDialogButtonPanel, #noChangeDefaultDialogButtonPanel {
	text-align: center;
}

#noExistDialogOkButton, #noChangeDialogOkButton, #noChangeDialogCancelButton, #noChangeDefaultDialogOkButton {
	width: 70px;
}

#noExistDialogContent, #noChangeDefaultDialogContent {
	color: red;
}

.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

.k-tooltip {
    margin-left: 100px;
}

#multiSearchCriteriaTextArea_tt_active{
    position: absolute;
    margin-top: -25px;
    margin-left: 200px;
    width: 180px;
}

#detailSearchDialog .tb-search {
	width: 228px;
}

#detailSearchDialog .tb-code-search {
   	width: 76px;
}