@CHARSET "UTF-8";

.matterManageDialogContainer {
	text-align: center;
}

.matterManageDialogContent {
	/* text-align: center; */
	/*color: red;*/
	margin-bottom: 2em;
	margin-top: 1em;
}

.legendRight fieldset {
    margin-top: 3px;
    border: 1px solid #DADADA;
}

#matterManageDialogContentLine2 {
	color: red;
}

.filterFrom {
	display: inline-block;
}

.filterFrom span{
    margin-left: 5px;
}

.filterTo {
    display: inline-block;
}

.filterTo span{
    margin-left: 5px;
}

.duplicateOption {
	background-color: #F0713A !important;
}

.rowGray {
	font-weight: bold;
    color: gray;
}

.dataTables_empty {
	width: 1800px;
	text-align: left;
	padding-left: 450px;
}
.tbNumberic {
	width: 70px;
}

.k-datepicker  {
    width: 70% !important;
}

.k-numerictextbox {
	width: 80px !important;
}

tr td .k-dropdown {
	width: 80% !important;
}


.dateCustom {
    float: left;
    width: 30px !important;
    margin-top: 10px;
}

.dateWrap {
    height: 15px;
    margin-bottom: 60px;
}

.filterTextBox {
	margin-top: 3px;
}

#matterManageMessage {
	padding-left: 5px;
}

#block4 .message_block_4 {
	width: 60%;
	padding-left: 40%;
}

#attributeGroupNameArea {
    text-align: left;
}

#gridAttribute .warning_row {
	background-color: #EC9797;
}

#textAreaDescriptionRemarks {
    width:338px;
    height: 160px !important;
    resize: none;
    padding:5px;
}

.headerBlockButton {
	display: inline;
	float: right;
}

.headerBlockButton input[type=button] {
	width: 100px;
    height: 25px;
    margin-left: 2px;
}

#contentsInner tbody tr td {
    border-bottom: 1px solid #D8D8D8;
}

.txtBlue {
	color:blue;
}

#linkProductDialog input {
	height:22px;
	margin-left: 0px !important;
}


#linkProductDialog input[type="button"] {
    height:26px;
}

.tableListVideo_empty {
	color: red;
	font-weight: bold;
	text-align: center;
}

.btnRed {
    color: white !important;
    background-color: rgb(189,76,76) !important;    
}

.btnPopup {
	width: 65px;
}

.align-center {
	text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* Add bottom border for header row. */
#gridProduct .k-grid-header .k-grid-header-wrap thead tr th[role=columnheader] {
    border-bottom: 1px solid #DADADA !important;
}

#tbSearchProductProperPriceTo {
	margin-top: 5px;
	margin-left: 20px;
	width: 95px;
}

#tbSearchProductProperPriceFrom {
	margin-top: 5px;
	margin-left: 5px;
	width: 95px;
}

.buttonAreaDialog {
	text-align: center;
}

#headerProduct {
	padding: 5px 3px 3px 10px;
	margin: 3px 3px 6px 3px;
	height: 28px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #dadada;
	box-shadow: 0 0px 2px 0 rgba(0,0,0,0.3);
}

.buttonArea {
	float:right;
}

.txtboxPopup {
	width: 250px;
}

.kendoWrapDiv {
    height: auto;
    width: 660px;
    margin-left: 5px;
}

#productSupplierReleaseDate {
	height: 26px !important;
}

#txtCategoryCode {
	height: 22px !important;
}

.content .contentInner .kendoWrapDiv { 
	 padding: 0px;
	/*  background-color: #E8E8E8; */
	 margin: 3px;
}

.kendoWrapDiv thead th {
    text-align: center !important;
}

.content .contentInner .kendoWrapDiv tbody tr {
    height: 20px;
}

#gridAllModel th[data-field=modelMaker] > span {
    width: 125px !important;
}

#txtAllModelMaker {
    border-width: 1px;
    border-style: solid;
    width: 123px !important;
}

#gridAllModel th[data-field=modelDisplacement] > span {
    width: 72px !important;
}

#txtAllDisplacement {
    border-width: 1px;
    border-style: solid;
    width: 70px !important;
}

#gridAllModel th[data-field=modelName] > span {
    width: 302px !important;
}

#txtAllmodelName {
    border-width: 1px;
    border-style: solid;
    width: 300px !important;
}

.k-autocomplete{
    padding:0px !important;
/*  margin: 2px 0px 0px 0px !important; */
    padding-right:2px !important;
}


#txtProductVideoDescription {
	width: 436px;
    padding:5px;
    height: 180px !important;
}

#taDescription {
    height: 88px !important;
    width: 265px;
    margin-top: 0px;
}

#btnEditDialogSupplier {
    height: 26px;
}

.txtTitle {
	margin-left: 10px;
    padding-left: 5px !important;
}

.txtUrl {
	margin-left: 24px;
    padding-left: 5px !important;
}

#imageBlock {
	width: 99.5%;
	float: left;
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 1px;
	background-color: #ffffff;
	height: auto;
}
.products_main_image_inner {
	width: 341px;
/* 	height: 60%; */
	max-width: 100%;
    max-height: 308px;
	text-align: center;
	vertical-align: middle;
	/* overflow: scroll; */
	z-index: 0;
	margin: 3px;
	border-bottom: 1px solid #C0C0C0;
}

#listView {
	height:398px;
	overflow-y: scroll;
}

#imagelistView {
	height: 308px;
	overflow-y: scroll;
}

#imagelistView a {
	border: 1px solid #DADADA;
}
.viewImageContainer {
	display:table;
    float:left;
    padding:0;
	width: 155px;
    height: 154px;
    position: relative;
}
#imagelistView .viewImage {
    height: 153px;
    display:table-row;
}
#imagelistView .viewImage a:first-child {
    height: 153px;
    vertical-align:middle;
    text-align:center;
    display:table-cell;
}
#linkProductDialog li {
	padding-left:5px;
	padding-top:5px;
}

#linkProductDialog p {
	width: 70px;
}

#linkProductDialog input[type="text"] {
    width: 259px
}

#linkProductDialog span.k-invalid-msg {
    float: right;
    margin-top: 1px;
}

#txtSelectValue {
	float:left;
	width: 150px ;
}

.txtHeaderPopup {
	width: 130px !important;
}

.list_thumb {
	vertical-align: middle;
	float: left;
    margin: 3px auto 3px auto;
	width: 64px;
	height: 64px;
	border: #DDD 1px solid;
	position: relative;
    /* -webkit-transform: translateZ(0); */
}

#list_thumb img {
    position: absolute;
}

.has-message {
	height: 14px;
}

.selector_thumb {
	max-width: 64px;
	max-height: 64px;
}

.imagePopupBlock5 {
	height: 275px;
	width: 141px;
	display: inline-block;
	border: 1px solid #8EBC00;
	margin: 2px;
	padding: 2px;
}

.imagePopupBlock5 img {
	width: 133px;
	height: 133px;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    z-index: 0;
    margin: 3px;
    border: 1px solid #C0C0C0;
}

.money {
	color:red;
	border-bottom: 1px solid #C0C0C0;
	padding-bottom:5px;
	text-align: center
}

.htmlViewPopup {
	padding:3px;
	width: 138px;
	height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product-description {
    position: absolute;
    top: 0;
    width: 155px;
    height: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8)
}

.product {
    /* float: left; */
    position: relative;
    width: 153px;
    height: 153px;
    padding: 0;
}
#block2 {
	overflow : visible;
}
.product h3 {
    margin: 0;
    padding: 10px 10px 0 10px;
    line-height: 1.1em;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    word-wrap: break-word;
}
.product p {
    color: #ffffff;
    font-weight: bold;
    padding: 0 10px;
}

a:hover img{
    opacity:1;
}
#listThumb a:hover img{
    position: relative;
    z-index: 100;
}

.tbPopup {
	margin-left: 20px;
	width: 223px;
}

.thumb_selector ul {
	margin-left: -37px;
}

.products_main_image_inner img {
	max-width: 151px;
	max-height: 151px;
	border: #DDD 1px solid;
	margin:0px auto;
}

.imageDetail {
	border: 1px solid #DADADA;
}

.listImagePopup {
    height: 120px;
    display: flex;
/*     margin: 5px; */
}

.imageLeft {
	width: 205px;
	display: flex;
}

.imageLeft h3 {
    display: block;
    background-color: #8EBC00;
    color: white;
    height: 15px;
    width: 77px;
    padding: 5px;
    margin-bottom: 3px;
}

.row_legend {
	display: flex;
}

.legendRight {
	width:322px;
	margin-left: 15px;
}

.legendRight ul {
	padding-left: 5px;
}

.legendRight .rowImagePopupContent input[type="radio"] {
	margin-top: 5px;
	margin-right: 3px;
}

.legendRight .rowImagePopupContent label {
    margin-top: 5px;
    margin-right: 3px;
}

.rowImagePopupContent {
	display: flex;
}

.rowImagePopupContent table .k-editable-area {
	visibility: hidden;
}

.k-tile strong {
	width: 123px !important;
}

.rowImagePopupContent table tr {
    display: flex;
}

.rowImagePopupContent table tr td ul li{
    padding:0px !important;
    margin: 0px !important;
    height: 25px;
}

.rowImagePopupContent table tr td ul li a{
    padding:0px !important;
    margin: 0px !important;
    height: 23px !important;
}

.rowImagePopupContent .k-textbox {
/*     padding:0px !important; */
/*     margin: 0px !important; */
    height: 25px !important;
}

.rowImagePopupContent table.k-editor {
    margin-left: 5px;
	height: 0px;
	display: flex;
	width: 35px;
	border: none;
}

.btnImagePopup {
	margin-left: 5px;
}

.rowImagePopupContent span {
    float: left;
}

.imageThumbPopup {
	max-width: 85px;
	max-height: 82px;
	border: 1px solid #DADADA;
}

.imageDetailPopup {
	max-width: 110px;
	max-height: 110px;
}

.imageLeftCoumn2 {
	margin-left: 5px;
	height: 110px;
	width: 110px;
	border: 1px solid #DADADA;
}

.imageLeftCoumn1 {
    height: 110px;
    width: 86px;
    border: 1px solid #DADADA;
}

.btnDeletePopup {
	margin-left: 13px;
}

.rowImagePopup {
	width : 710px;
	height : 120px;
	position: relative;
	border: 1px solid #8EBC00;
	padding: 2px;
	margin: 2px;
}

.listImagePopup {
	position: absolute;
	background-color: white;
}

.dragArea {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #EFEFEF;
}

.row_table {
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

/* Set background of row to gray */
.gray {
    color: #C0C0C0 !important;
}

#category {
/* 	padding : 10px; */
	overflow-y: hidden;
}

#category .k-dropdown-wrap {
	width: 96% !important;
}

.block {
	padding:5px;
}

.left_content_block {
	width: 300px;
	float:left;
	margin-top: 5px;
	padding-bottom:2px;
	border-bottom: 2px solid #DADADA;
}

.right_content_block {
    width: 300px;
    float:right;
    margin-top: 5px;
    border-bottom: 2px solid #DADADA;
}

.right_content_block_13 {
    width: 230px;
    float:right;
    margin-top: 5px;
    border-bottom: 2px solid #DADADA;
}

.right_content_block_13 .k-combobox {
	width: 250px;
}

#contentsInner .lstButton {
	width: 100px;
	height: 25px;
	margin-top: 0px;
}

/* #btnDecideGuestInput {
	width: 100px;
    height: 25px;
    margin-left: 2px;
} */
/*Button*/
.btnCrud {
    width: 100px;
    height: 25px;
    margin-left: 2px;
}
.rightPos {
	float: right;
}
/*End button*/
/*Using for dialog*/
.headerBlock {
    border: 1px solid #C9C9C9;
	padding : 5px;
	height: 25px;
}

.headerBlockPE {
    padding : 5px;
    height: 25px;
}

.headerBlock14 {
    border: 1px solid #C9C9C9;
    height: 20px;
    padding: 5px;
    width: 97.9%;
}


.txtheader {
	font-size: large;
	width: 410px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0px;
}

.contentInner ul {
    padding-left:4px;
}

.contentInner ul li {
    display: flex;
    margin-bottom: 3px;
    text-align: center;
}

.contentInner ul li p {
    background-color: #F0F9FF;
    border: 1px solid #D0D9DF;
    color: #50607F;
    float: left;
    margin-right: 5px;
    margin-top: 0px;
    padding: 2px;
    text-align: center;
    width: 100px;
    height: 16px;
}

.contentInner ul li textarea {
	color: #787878;
	margin-top: 2px;
}

.contentInner ul li .headerBlock {
    width: 100%;
}

/* .k-dropdown-wrap .k-input{ */
/* 	height: 16px !important ; */
/* 	width : 190px; */
/* 	margin-top: 2px; */
/* 	padding-top: 2px; */
/* 	padding-bottom: 2px; */
/* } */


.k-textbox{
	height: 22px !important;
/* 	width : 190px; */
}


.btnDialog {
	padding-bottom: 5px;
	text-align: right;
}

.btnDialogCenter {
	padding-bottom: 5px;
	margin-top: 20px;
	text-align: center;
}

#linkProductDialog .k-widget {
/*     margin-left: 23px; */
    z-index: 10002;
}

/*End of using for dialog*/
.yellow { 
    background-color: yellow;
    color:gray !important;
}

/*start style for grid*/
.gridClass  {
	height: 100%;
}

/*end style for grid*/
#block3 ul li {
	margin: 1px 0px;
}

/* #cbbBrandCodeBlock3 .k-combobox {
	width: 100% !important;
} */

#cbbBrandCodeBlock3 .k-dropdown-wrap {
	width: 95% !important;
}

#category .k-combobox {
	width: 90% !important;
}

#btnUpdateAttrProductDialog {
	height: 26px;
}

.btnInsertDialog {
    height: 22px;
    margin-left: 10px !important;
}

#errorFilterBrand, #errorFilterCategory {
	padding-left: 14px;
}

.btnInsertDialogMaker {
    height: 22px;
/*     margin-left: 195px !important; */
}

hr {
    background-color: #D4D4D4;
    border: 0 none;
    clear: both;
    color: #D4D4D4;
    height: 1px;
    margin-top: 10px;
}
textarea{
	resize: none;
	border:solid 1px #ccc; 
}
#block3 ul li{
/* 	background-color: #D0D9DF; */
}

.btnDBlock1{
	margin-left: 300px !important;
}
.btnBlock1{
	margin-left: 5px !important;
}
.block3Margin{
	margin-top: 5px!important;
	margin-left: 4px !important;
}

.btnMiddle{
	text-align: center;
}

.block4Span{
/*	background-color: #F0F9FF;
    border: 1px solid #D0D9DF;
    color: #50607F;
    height: 16px;*/
    margin-right: 5px;
    margin-top: 0;
    padding: 2px;
    text-align: center;
    width: 100px;
} 

.btnMiddle {
    margin-left: 40% !important;
    text-align: center !important;
}
/* .colorBlock4{
	background-color: #EEEEEE;
} */
table.tableCss th{
	border: 0 solid #555555;
    color: #787878;
    padding: 3px;
    text-align: center;
    vertical-align: top;
}
table.tableCss{
	border-collapse: collapse;
}

/*kendo editor*/
/* table.k-editor { */
/* 	height: 165px !important; */
/* } */

/*remove border block 1*/
#mainheaderContent {
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	display: inline;
}

#groupProductInfo ul li p {
    background-color: #F0F9FF;
    border: 1px solid #D0D9DF;
    color: #50607F;
    float: left;
    height: 16px;
    margin-right: 5px;
    margin-top: 0;
    padding: 2px;
    text-align: center;
    width: 100px;
}

#groupProductInfoSimple ul li p {
    background-color: #F0F9FF;
    border: 1px solid #D0D9DF;
    color: #50607F;
    float: left;
    height: 16px;
    margin-right: 5px;
    margin-top: 0;
    padding: 2px;
    text-align: center;
    width: 100px;
}

#groupProductInfoSimple ul li input{
	width: 100px;
	margin-left: 4px;
}

#groupProductInfoSimple #chkSingleProdFlg{
	float: inherit;
	margin-left: 0;
    width: 15px;
}

#groupProductInfoSimple #tbGroupPriceProperPrice{
	margin-left: 32px;
}

#tbGroupPriceGroupCode {
    width: 100px;       
}

#groupProductDetails input {
	float: left;
}
#groupProductDetails span {
    float: left;
}
#groupProductDetails{
	height: 25px !important;
}
#gridProduct .k-pager-numbers .k-state-selected {
	width: 3em !important
}

#gridProduct .k-pager-numbers .k-link  {
	width: 3em !important
}

.currentProductRow {
	background-color: #E1E1E1;
}

.errorProductRow {
	background-color: #BD4C4C !important;
}

.errorBlock9{
    color: red !important;
}

#infoProductBrandCode {
	width: 75px !important;
}
.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.red-cell {
	background-color: #FF0000 !important;
}
.k-ext-dialog-content {
	width: 287px !important;
}
.k-button .k-state-focused{
	box-shadow: none !important;
}
dropzone em, .k-draghandle:hover {
	background-image: none !important;
	
}

.k-button:focus .k-button:hover {
box-shadow: none !important;
}

k-button:hover, .k-button:focus, .k-button.k-state-focused, .k-draghandle:hover {
background-image: none !important;
}
.k-i-seek-e {
    background-position: 0 -77px !important;
}

.k-i-arrow-e {
    background-position: 0 -13px !important;
}

.k-i-arrow-w {
    background-position: 0 -45px !important ;
}

.k-i-seek-w {
    background-position: 0 -108px !important ;
}
.k-i-arrow-s {
    background-position: 0 -29px !important ;
}

.k-i-refresh {
    background-position: -32px -111px !important ;
}

#extOkCancelDialog div{
	margin-left: 2% !important;
	text-align: center;
}
.viewImage{
	text-align: center;
}
#imageThumb{
	text-align: center;
}
span.asteriskRequire {
	padding: 0 2px 0 1px;
	color:red;
	float:right;
}

/* .viewImage img {
    position:relative;
    display:block;
    
} */
/* align center for header of ALL grid */
.k-grid-header .k-grid-header-wrap thead tr th[role=columnheader] {
    text-align: center;
}

/** BOE Blog 11*/
#txtMakerName {
    width: 190px;
}
#txtModelName {
    width: 230px;
}
#txtModelStyle{
    width: 190px;
}
div.title {
    padding: 5px 3px 3px 10px;
    border-bottom:none;
    margin: 3px 3px 6px 3px;
    font-weight: bold;
    height: 26px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dadada;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.3);
}
#btnEditDialogFitModel {
	width: 80px;
	height: 25px;
}
#addFitModelDialog .k-grid-content {
height: 195px !important;
}
#addFitModelDialog {
height: inherit !important;
}
#txtAllModelMaker {
    width: 122px !important;
    /* Fix bug border missing. */
    margin-left: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 2px;
}
#txtAllDisplacement {
    width: 69px !important;
    /* Fix bug border missing. */
    margin-left: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 2px;
}
#txtAllmodelName {
    width: 299px !important;
    /* Fix bug border missing. */
    margin-left: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 2px;
}
.k-imagebrowser li.k-tile .k-thumb img.k-image {
max-width: 80px;
max-height: 80px;
width: auto;
height: auto;
}
/* Add bottom border for header row. */
#addFitModelDialog .k-grid-header .k-grid-header-wrap thead tr th[role=columnheader] {
    border-bottom: 1px solid #DADADA !important;
}
#addFitModelDialog .kendoWrapDiv {
    width: auto;
}
.productPleaseSelectDialogContainer {
    text-align: center;
}
.productPleaseSelectDialogContent {
    padding-bottom: 5px;
}
/** EOE Blog 11*/

/** BOE Blog 14*/
#productEditorDiv {
    height:91%;
    width: 99%;
}
/*hack css for IE9 above */
#productEditorDiv {
    height:80%\9;
    width: 99%\9;
}
#productEditorDiv .k-editor{
    height:100% !important;
    width: 100% !important;
}
/* html[data-useragent*='MSIE 10.0'] #productEditor { */
/*     height:89%; */
/*     width: 99%; */
/* } */
/** EOE Blog 14*/

/** BOE Blog 15*/
/** BOE Tran.Thanh #7363 - 2014/14/17 : Design new layout for popup **/ 
.inputMatterProduct {
	width: 49px;
    display: inline-block;
}

#matterProductDialog ul li {
	margin-top: 5px;
	background-color: #DADADA;
    border: 1px solid #757575;
	padding: 5px;
	
}
#matterProductDialog ul li textarea {
	margin-top: 0px;
}

#matterProductDialog ul li .k-invalid-msg {
    width: 25px;
}

#matterProductDialog .k-multiselect-wrap .k-floatwrap {
	background-color: white;
	border: 1px solid #757575;
}

#matterProductDialog input[type="text"]:disabled {
	/*background-color: #757575;*/
}

#matterProductDialog .k-textbox {
	border : 1px solid #B3B3B3;
}

.rowCheckboxDescription {
	height: 26px;
	margin-left: 76px;
	text-align: left;
}

.textColumn {
	height: 26px;
    text-align:right;
    display: flex;
}

.imageFindThumb {
    margin-left: -3px;
}

.imageReplaceThumb {
	margin-left: -3px;
}

.imageFindDetail {
	margin-left: 30px;
}

.imageReplaceDetail {
	margin-left: 30px;
}

.textColumn span {
	margin-right: 4px;
}

.checkColumn1 {
	width: 50px;
}

.popup15ColumnLeft {
	width: 525px;
}

.popup15ColumnRight {
	width: 525px;
}

.legendMid {
    width: 65px;
    margin-left: 15px;
    margin-top: 3px;
}

.legendMid .row1 {
	padding-bottom: 9px;
	padding-top: 15px;
}

.legendMid .row2 {
    padding-bottom: 17px;
    padding-top: 6px;
}

/** EOE Tran.Thanh #7363 - 2014/14/17 : Design new layout for popup **/ 
/** EOE Blog 15*/
/*BOE Nguyen.Chuong 2014/07/07 add error class of text: change text to red color*/
.errorText {
    color: red !important;
}
/*EOE Nguyen.Chuong 2014/07/07 add error class of text: change text to red color*/

.image-browser {
	background-image: url(./jQuery/Metro/sprite.png);
	background-position: -288px -96px;
	background-repeat: no-repeat;
	display: inline-block;
	font-size: 0px;
	height: 24px;
	width: 24px;
}

.borderImageButton {
	border: 1px solid #DADADA;
}

#errorCommaIconForBlock14 {
	display:none;
	margin-top: -16px;
	padding-right: 4px;
}