.products_main_image_inner {
    width: 316px;
    height: 316px;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    z-index: 0;
    margin: 7px;
    border-bottom: 1px solid #C0C0C0;
    padding-bottom: 10px;
}

.products_main_image_inner img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

.list_thumb {
    vertical-align: middle;
    float: left;
    margin: 0 3px 0 3px;
    width: 60px;
    height: 60px;
    position: relative;
    border: #DDD 1px solid;
    overflow: hidden;
}

.image_selected {
    border-bottom: #06C 5px solid;
}

.selector_thumb {
    width: 57px;
    height: 54px;
}

.products_main_image_inner a #imageThumbLoading {
    padding-top: 134px;
}

.prev_thumb {
    float: left;
    margin: 0 5px 0 5px;
    width: 15px;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 18px;
}

.prev_thumb a {
    background: url(../images/parts_images.png) no-repeat 0 -85px;
    width: 15px;
    height: 15px;
    display: block;
}

.next_thumb {
    float: left;
    margin: 0 5px 0 5px;
    width: 15px;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 18px;
}

.next_thumb a {
    background: url(../images/parts_images.png) no-repeat 0 -110px;
    width: 15px;
    height: 15px;
    display: block;
}

.paginate_button_disabled {
	border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    color: #333 !important;
    pointer-events: none;
} 

/* Content Right & Left
==================================================*/
.leftTab {
    width: 35%;
    float: left;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    min-height: 270px;
    margin-top: 10px;
    margin-left: 10px;
}

.rightTab {
    width: 25%;
    float: right;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    padding: 10px 0px 0px 10px;
    background-color: #ffffff;
}

.centerTab {
    width: 34%;
    float: left;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    min-height: 270px;
    margin-left: 10px;
    max-height: 446px;
    margin-top: 10px;
    margin-left: 10px;
}

#listTreeView {
    margin-top: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    height: 180px;
    max-height: 180px;
    overflow: auto;
}

#listTreeView1 {
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 0px;
}

#nodeDetail {
	display:inline;
	width: 160px;
	display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: relative;
    top: 3px;
}

textarea:disabled {
	background-color: rgb(235, 235, 228);
	font-size: 12px;
}
/* === Info ===
*/
#matterInfo {
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 5px;
}

#matterInfo div {
    line-height: 30px;
}
/* === Maintable ===
*/
.paginate_button {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.paginate_active {
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-family: serif;
    font-weight: bold;
    pointer-events: none;
}

#imageProcessing {
    position: absolute;
    padding: 200px 0px 0px 450px;
}

.k-state-selected {
    color: rgb(34, 68, 204);
    font-weight: bold;
    font-style: italic;
}

.rowCheckedProduct {
    background-color: #FFDCB9;
}

.rowErrorProduct {
    background-color: #FF8080;
}

#tableListModel {
    height: 138px;
    overflow: auto;
}

#modelListTable td {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    background-color: #DEDEDE;
}

#txtProductModel {
    min-height: 17px;
    max-height: 60px;
    width: 500px;
    width: 500px;
    overflow: auto;
}

.clmModelTable1 {
    width: 70px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.clmModelTable2 {
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.clmModelTable3 {
    width: 68px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    background-color: #DEDEDE;
}

.imgLoadingModelTable {
	margin: auto;
}
/* === button ===
*/
.button {
    color: #686868;
    text-decoration: none;
    width: 110px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 0px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    background: #E9E9E9;
    display: inline-block;
    cursor: pointer;
}

.btn-color-red {
    background: #E22C2C;
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
}

.btn-tab-left {
    margin-left: 7%;
    margin-top: 7%;
}

.cbb-size-normal {
    height: 22px;
    width: 207px;
}

.txt-size-medium {
    height: 18px;
    width: 203px;
}

.lbl-size-medium {
    height: 29px;
    width: 127px;
    border: 1px solid #c3c3c3;
    text-align: center;
}

/* === Table =================================================================================
*/
#mainContent thead tr th {
    background-color: #004080;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    color: #FFFFFF;
    display: table-cell;
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    height: 18px;
    line-height: 14px;
    padding: 5px;
    text-align: center;
}

.tbl-body tr td {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: Arial;
    font-size: 9pt;
    height: 26px;
    line-height: 14px;
    padding: 5px;
}

.tbl-row-background-gray {
    background-color: #e6e6e6;
}

.tbl-size-large {
    background-color: #ffffff;
    background-image: none;
    width: 937px;
}

.tbl-size-large tr td {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: Arial;
    font-size: 9pt;
    height: 26px;
    line-height: 14px;
    padding: 5px;
}

.thead>tr,body {
    display: block;
}

[class*="tbl-control-size"] {
    text-shadow: none;
}

[class*="tbl-control-size"] .caret {
    margin: 5px 0 0 6px;
}

.tbl-control-size-small {
    font-size: 10px;
}

.tbl-control-size-medium {
    font-size: 12px;
    padding: 6px 6px 5px 6px;
}

.tbl-control-size-large {
    font-size: 14px;
    padding: 7px 7px 6px 7px;
}

.tbl-control-size-xlarge {
    font-size: 16px;
    padding: 10px 12px 11px 12px;
}

.tbl-control-size-standard {
    font-size: 12px;
    padding: 8px;
}

.opt {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}

.opt>span {
    margin-left: 0;
}

.opt .iconb {
    font-size: 14px;
}

.opt .caret {
    margin: 5px 0;
}

#filter {
    background-color: #EFEFEF;
    padding: 5px 5px 5px 5px;
    border-left: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
    border-top: 1px solid #C9C9C9;
}

#filter .label {
    padding-left: 20px;
}

#filter .btnSearch {
    display: inline;
    width: 110px;
}

.tbl-content {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    border-left: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    clear: both;
    width: 943px;
}

.dataTables_empty {
    color: #C71444;
    font-weight: bold;
    text-align: center;
    font-style: normal;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

.paging_full_numbers {
    width: 400px;
    height: 22px;
    line-height: 22px;
    margin: 3px;
    margin-right: 17px;
}

.paging_full_numbers a:active {
    outline: none
}

.paging_full_numbers a:hover {
    text-decoration: none;
}

.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active
    {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
}

.paging_full_numbers a.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
    background-color: #99B3FF;
}

/* Pagination nested */
.paginate_disabled_previous,.paginate_enabled_previous,.paginate_disabled_next,.paginate_enabled_next
    {
    height: 19px;
    float: left;
    cursor: pointer;
    *cursor: hand;
    color: #111 !important;
}

.paginate_disabled_previous:hover,.paginate_enabled_previous:hover,.paginate_disabled_next:hover,.paginate_enabled_next:hover
    {
    text-decoration: none !important;
}

.paginate_disabled_previous:active,.paginate_enabled_previous:active,.paginate_disabled_next:active,.paginate_enabled_next:active
    {
    outline: none;
}

.paginate_disabled_previous,.paginate_disabled_next {
    color: #666 !important;
}

.paginate_disabled_previous,.paginate_enabled_previous {
    padding-left: 23px;
}

.paginate_disabled_next,.paginate_enabled_next {
    padding-right: 23px;
    margin-left: 10px;
}

.paginate_disabled_previous {
    background: url('../images/dataTable/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
    background: url('../images/dataTable/back_enabled.png') no-repeat top left;
}

.paginate_enabled_previous:hover {
    background: url('../images/dataTable/back_enabled_hover.png') no-repeat
        top left;
}

.paginate_disabled_next {
    background: url('../images/dataTable/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
    background: url('../images/dataTable/forward_enabled.png') no-repeat top right;
}

.paginate_enabled_next:hover {
    background: url('../images/dataTable/forward_enabled_hover.png') no-repeat top right;
}

.dataTables_info {
    margin: 5px;
}

/* === TreeView ==============================================================================
*/
#navigation {
    max-height: 250px;
    overflow: auto;
}

.selectedNode {
    font-weight: bold;
}

.jstree-default li,.jstree-default ins {
    background-image: url("../images/treeView/d.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.jstree-default li {
    background-position: -90px 0;
    background-repeat: repeat-y;
}

.jstree-default li.jstree-last {
    background: transparent;
}

.jstree-default .jstree-open>ins {
    background-position: -72px 0;
}

.jstree-default .jstree-closed>ins {
    background-position: -54px 0;
}

.jstree-default .jstree-leaf>ins {
    background-position: -36px 0;
}

.jstree-default .jstree-hovered {
    background: #e7f4f9;
    border: 1px solid #d8f0fa;
    padding: 0 2px 0 1px;
}

.jstree-default .jstree-clicked {
    background: #98C7FA;
    border: 1px solid #4F6BFF;
    padding: 0 2px 0 1px;
}

.jstree-leaf a .jstree-clicked {
    background: none;
    border: none;
    padding: none;
}

.jstree-default a .jstree-icon {
    background-position: -56px -19px;
}

.jstree-default a.jstree-loading .jstree-icon {
    background: url("../images/treeView/throbber.gif") center center
        no-repeat !important;
}

.jstree-default.jstree-focused {
    background: #ffffee;
}

.jstree-default .jstree-no-dots li,.jstree-default .jstree-no-dots .jstree-leaf>ins
    {
    background: transparent;
}

.jstree-default .jstree-no-dots .jstree-open>ins {
    background-position: -18px 0;
}

.jstree-default .jstree-no-dots .jstree-closed>ins {
    background-position: 0 0;
}

.jstree-default .jstree-no-icons a .jstree-icon {
    display: none;
}

.jstree-default .jstree-leaf a .jstree-clicked {
    display: none;
}

.jstree-default .selectedNode a {
	font-weight: bold;
    background: #FFB03A;
    border: 1px solid #FF7000;
    padding: 0 2px 0 1px;
}

.jstree-default .jstree-search {
    font-style: italic;
}

.jstree-default .jstree-no-icons .jstree-checkbox {
    display: inline-block;
}

.jstree-default .jstree-no-checkboxes .jstree-checkbox {
    display: none !important;
}

.jstree-default .jstree-checked>a>.jstree-checkbox {
    background-position: -38px -19px;
}

.jstree-default .jstree-unchecked>a>.jstree-checkbox {
    background-position: -2px -19px;
}

.jstree-default .jstree-undetermined>a>.jstree-checkbox {
    background-position: -20px -19px;
}

.jstree-default .jstree-checked>a>.jstree-checkbox:hover {
    background-position: -38px -37px;
}

.jstree-default .jstree-unchecked>a>.jstree-checkbox:hover {
    background-position: -2px -37px;
}

.jstree-default .jstree-undetermined>a>.jstree-checkbox:hover {
    background-position: -20px -37px;
}

#vakata-dragged.jstree-default ins {
    background: transparent !important;
}

#vakata-dragged.jstree-default .jstree-ok {
    background: url("../images/treeView/d.png") -2px -53px no-repeat
        !important;
}

#vakata-dragged.jstree-default .jstree-invalid {
    background: url("../images/treeView/d.png") -18px -53px no-repeat
        !important;
}

#jstree-marker.jstree-default {
    background: url("../images/treeView/d.png") -41px -57px no-repeat
        !important;
    text-indent: -100px;
}

.jstree-default a.jstree-search {
    color: red;
}

.jstree-default .jstree-locked a {
    color: silver;
    cursor: default;
}

.jstree-default .jstree-leaf a > ins { display: none; }

#vakata-contextmenu.jstree-default-context,#vakata-contextmenu.jstree-default-context li ul
    {
    background: #f0f0f0;
    border: 1px solid #979797;
    -moz-box-shadow: 1px 1px 2px #999;
    -webkit-box-shadow: 1px 1px 2px #999;
    box-shadow: 1px 1px 2px #999;
}

#vakata-contextmenu.jstree-default-context li {
    
}

#vakata-contextmenu.jstree-default-context a {
    color: black;
}

#vakata-contextmenu.jstree-default-context a:hover,#vakata-contextmenu.jstree-default-context .vakata-hover>a
    {
    padding: 0 5px;
    background: #e8eff7;
    border: 1px solid #aecff7;
    color: black;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a,#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover
    {
    color: silver;
    background: transparent;
    border: 0;
    padding: 1px 4px;
}

#vakata-contextmenu.jstree-default-context li.vakata-separator {
    background: white;
    border-top: 1px solid #e0e0e0;
    margin: 0;
}

#vakata-contextmenu.jstree-default-context li ul {
    margin-left: -4px;
}

/* IE6 BEGIN */
.jstree-default li,.jstree-default ins,#vakata-dragged.jstree-default .jstree-invalid,#vakata-dragged.jstree-default .jstree-ok,#jstree-marker.jstree-default {
    _background-image: url("../images/treeView/d.gif");
}

.jstree-default .jstree-open ins {
    _background-position: -72px 0;
}

.jstree-default .jstree-closed ins {
    _background-position: -54px 0;
}

.jstree-default .jstree-leaf ins {
    _background-position: -36px 0;
}

.jstree-default a ins.jstree-icon {
    _background-position: -56px -19px;
}

#vakata-contextmenu.jstree-default-context ins {
    _display: none;
}

#vakata-contextmenu.jstree-default-context li {
    _zoom: 1;
}

.jstree-default .jstree-undetermined a .jstree-checkbox {
    _background-position: -20px -19px;
}

.jstree-default .jstree-checked a .jstree-checkbox {
    _background-position: -38px -19px;
}

.jstree-default .jstree-unchecked a .jstree-checkbox {
    _background-position: -2px -19px;
}
/* IE6 END */
.k-grid-content {
	height: 336px !important;
}

#no4 {
	height: 399px !important;
}

