<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="RcProductFactory">
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="java-output-path" value="/RcProductFactory/build/classes"/>
        <property name="context-root" value="RcProductFactory"/>
    </wb-module>
</project-modules>
